In [1]:
import pandas as pd
import numpy as np

import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

import json
import pprint

In [2]:
csv_reader = pd.read_csv("../data/state_data/hash_states/hpgf_md.csv") 
md_hpgf = pd.DataFrame(csv_reader)
md_hpgf.head()

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,...,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,Lat,Long,FIPS_z
0,166,8441207705,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,GECON US INC.,...,N,NaN,NaN,5%,10608.35,NaN,"4833 Rugby Ave Suite 100, Bethesda, MD",38.991281,-77.098312,2.403170e+14
1,167,3725437703,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,"QUALITY PRODUCTION CONT., INC.",...,N,164543.49,8/9/21,5%,8125.00,NaN,"547 Prospect Hill Road, Knoxville, MD",39.331722,-77.693762,2.404301e+14
2,488,5111117706,IND00SS00LR1JR2BT04BA2PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,ASSOCIATION OF MILITARY SURGEONS OF THE,...,Y,139062.40,3/3/21,5%,7912.35,NaN,"12154 DARNESTOWN RD # 506, GAITHERSBURG, MD",39.116648,-77.252234,2.403170e+14
3,507,7268117703,IND00SS00LR1JR2BT01BA3PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,AUTONOMOUS ID INC,...,N,287891.45,5/21/21,5%,14245.00,NaN,"909 BALTIMORE BLVD, WESTMINSTER, MD",39.557258,-76.964396,2.401351e+14
4,508,7338407703,IND00SS00LR1JR2BT01BA3PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,RALPH W NIEMANN DDS PA,...,N,146363.49,8/16/21,5%,7600.00,NaN,"272 MERRIMAC CT, PRINCE FREDERICK, MD",38.535721,-76.583826,2.400986e+14

In [3]:
pd.set_option('display.max_columns', None)
#va_hpgf = va_hpgf.drop(["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.1.1"], axis =1)
md_hpgf.head() #23268

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,BorrowerState,LoanStatusDate,LoanStatus,Term,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,CD,JobsReported,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,BusinessType,BusinessAgeDescription,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,Lat,Long,FIPS_z
0,166,8441207705,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,GECON US INC.,MD,NaN,Exemption 4,24,212167.0,0.0,NaN,456756,Cross River Bank,MD-08,8.0,456756,Cross River Bank,TEANECK,NJ,Corporation,Existing or more than 2 years old,N,NaN,NaN,5%,10608.35,NaN,"4833 Rugby Ave Suite 100, Bethesda, MD",38.991281,-77.098312,2.403170e+14
1,167,3725437703,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,"QUALITY PRODUCTION CONT., INC.",MD,9/23/21,Paid in Full,24,162500.0,0.0,NaN,223542,Celtic Bank Corporation,MD-06,6.0,223542,Celtic Bank Corporation,SALT LAKE CITY,UT,Corporation,Existing or more than 2 years old,N,164543.49,8/9/21,5%,8125.00,NaN,"547 Prospect Hill Road, Knoxville, MD",39.331722,-77.693762,2.404301e+14
2,488,5111117706,IND00SS00LR1JR2BT04BA2PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,ASSOCIATION OF MILITARY SURGEONS OF THE,MD,5/19/21,Paid in Full,24,158247.0,0.0,NaN,9551,"Bank of America, National Association",MD-06,8.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Non-Profit Organization,New Business or 2 years or less,Y,139062.40,3/3/21,5%,7912.35,NaN,"12154 DARNESTOWN RD # 506, GAITHERSBURG, MD",39.116648,-77.252234,2.403170e+14
3,507,7268117703,IND00SS00LR1JR2BT01BA3PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,AUTONOMOUS ID INC,MD,6/10/21,Paid in Full,24,284900.0,0.0,NaN,44449,"PNC Bank, National Association",MD-08,8.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Corporation,Unanswered,N,287891.45,5/21/21,5%,14245.00,NaN,"909 BALTIMORE BLVD, WESTMINSTER, MD",39.557258,-76.964396,2.401351e+14
4,508,7338407703,IND00SS00LR1JR2BT01BA3PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,RALPH W NIEMANN DDS PA,MD,10/7/21,Paid in Full,24,152000.0,0.0,NaN,44449,"PNC Bank, National Association",MD-05,7.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Corporation,Unanswered,N,146363.49,8/16/21,5%,7600.00,NaN,"272 MERRIMAC CT, PRINCE FREDERICK, MD",38.535721,-76.583826,2.400986e+14

In [4]:
md_hpgf.loc[md_hpgf["FIPS_z"].isnull()] #13 values, wait for verification, map frame for FIPS avaliable

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,BorrowerState,LoanStatusDate,LoanStatus,Term,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,CD,JobsReported,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,BusinessType,BusinessAgeDescription,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,Lat,Long,FIPS_z
2904,145506,9591308609,IND23SS89LR1JR3BT01BA1PPS,Construction,2389 Other Specialty Trade Contractors,3/26/21,373,BALTIMORE DISTRICT OFFICE,PPS,CONTROLLED DEMOLITION INCORPORATED,MD,NaN,Exemption 4,60,158899.23,0.0,NaN,382927,Howard Bank,MD-01,10.0,382927,Howard Bank,BALTIMORE,MD,Corporation,Existing or more than 2 years old,N,159883.10,11/12/21,5%,7944.9615,Site Preparation Contractors,"13401 Still Haven Ct, Phoenix, MD",41.603221,-73.087749,NaN
4683,287570,4365897102,IND42SS38LR3JR5BT01BA1PPP,Wholesale Trade,"4238 Machinery, Equipment, and Supplies Mercha...",4/13/20,373,BALTIMORE DISTRICT OFFICE,PPP,THE HARBOR SALES COMPANY,MD,3/19/21,Paid in Full,24,1062000.00,0.0,NaN,46391,Manufacturers and Traders Trust Company,MD-01,98.0,46391,Manufacturers and Traders Trust Company,BUFFALO,NY,Corporation,Existing or more than 2 years old,N,1058167.89,11/17/20,3%,31860.0000,Industrial Supplies Merchant Wholesalers,"1000 Harborview Ct., SUDLERSVILLE, MD",41.603221,-73.087749,NaN
5999,370698,2085197209,IND45SS39LR2JR4BT07BA1PPP,Retail Trade,4539 Other Miscellaneous Store Retailers,4/15/20,353,WASHINGTON DISTRICT OFFICE,PPP,"N2GRATE GOVERRNMENT TECHNOLOGY SOLUTIONS, LLC",MD,12/17/20,Paid in Full,24,503500.00,0.0,NaN,121536,Customers Bank,MD-05,35.0,499141,"Readycap Lending, LLC",BERKELEY HEIGHTS,NJ,Sole Proprietorship,Existing or more than 2 years old,N,506051.99,11/3/20,3%,15105.0000,All Other Miscellaneous Store Retailers (excep...,"9111 Edmonston Road, Suite 303, Greenbelt, MD",38.902914,-77.033066,NaN
7413,453261,5522567107,IND53SS13LR1JR5BT02BA3PPP,Real Estate and Rental and Leasing,5313 Activities Related to Real Estate,4/13/20,373,BALTIMORE DISTRICT OFFICE,PPP,NV STEAKHOUSE LLC,MD,7/22/21,Paid in Full,24,262725.00,0.0,NaN,29805,"TD Bank, National Association",MD-05,60.0,29805,"TD Bank, National Association",WILMINGTON,DE,Limited Liability Company(LLC),Unanswered,N,265746.34,6/10/21,5%,13136.2500,Nonresidential Property Managers,"5594 ASHLAND COMMUNITY SQ, EDGEWATER, MD",38.613268,-77.373759,NaN
9526,536002,3590727110,IND54SS16LR1JR1BT02BA2PPP,"Professional, Scientific, and Technical Services","5416 Management, Scientific, and Technical Con...",4/11/20,373,BALTIMORE DISTRICT OFFICE,PPP,DATA OASYS LLC,MD,8/18/20,Paid in Full,24,160500.00,0.0,NaN,30872,Sandy Spring Bank,MD-01,4.0,30872,Sandy Spring Bank,OLNEY,MD,Limited Liability Company(LLC),New Business or 2 years or less,N,NaN,NaN,5%,8025.0000,Other Scientific and Technical Consulting Serv...,"42650 Frontier Dr, FINKSBURG, MD",38.978048,-77.526068,NaN
9763,545337,4458978805,IND54SS16LR1JR4BT02BA1PPP,"Professional, Scientific, and Technical Services","5416 Management, Scientific, and Technical Con...",4/16/21,353,WASHINGTON DISTRICT OFFICE,PPP,OLIVIA EVANS EL,MD,NaN,Exemption 4,60,304156.00,0.0,NaN,188567,Loan Source Incorporated,MD-05,25.0,124336,"Blue Ridge Bank, National Association",MARTINSVILLE,VA,Limited Liability Company(LLC),Existing or more than 2 years old,N,NaN,NaN,5%,15207.8000,Administrative Management and General Manageme...,"7404 Executive Pl Ste 400, Lanham, MD",38.992494,-76.825910,NaN
10114,556209,5893948904,IND54SS17LR1JR3BT02BA1PPP,"Professional, Scientific, and Technical Services",5417 Scientific Research and Development Services,5/1/21,373,BALTIMORE DISTRICT OFFICE,PPP,CYNNOVATIVE LLC,MD,11/6/21,Paid in Full,60,199510.00,0.0,NaN,46391,Manufacturers and Traders Trust Company,MD-03,12.0,46391,Manufacturers and Traders Trust Company,BUFFALO,NY,Limited Liability Company(LLC),Existing or more than 2 years old,N,200466.55,10/27/21,5%,9975.5000,"Research and Development in the Physical, Engi...","4075 Wilson Blvd STE 800, Arlington, MD",38.880246,-77.108616,NaN
10463,571799,6542178400,IND54SS19LR1JR4BT03BA1PPS,"Professional, Scientific, and Technical Services","5419 Other Professional, Scientific, and Techn...",2/10/21,373,BALTIMORE DISTRICT OFFICE,PPS,LITTLE PEOPLES PLACE CHILD DEVELOPMENT CENTER ...,MD,NaN,Exemption 4,60,196775.00,0.0,NaN,60227,ACNB Bank,MD-01,40.0,60227,ACNB Bank,GETTYSBURG,PA,Subchapter S Corporation,Existing or more than 2 years old,N,197764.34,8/18/21,5%,9838.7500,"All Other Professional, Scientific, and Techni...","2807 Bel Ct, Manchester, MD",41.603221,-73.087749,NaN
12361,650823,3652408307,IND62SS11LR1JR3BT02BA1PPS,Health Care and Social Assistance,6211 Offices of Physicians,1/22/21,373,BALTIMORE DISTRICT OFFICE,PPS,U.S. MOBILE IMAGING LLC,MD,NaN,Exemption 4,60,222725.00,0.0,NaN,30767,First United Bank & Trust,MD-06,17.0,30767,First United Bank & Trust,OAKLAND,MD,Limited Liability Company(LLC),Existing or more than 2 years old,N,224024.23,8/30/21,5%,11136.2500,Offices of Physicians (except Mental Health Sp...,"12614 Nicklaus Ct, Cumberland, MD",41.603221,-73.087749,NaN
13576,703253,9453537004,IND62SS13LR3JR5BT03BA1PPP,Health Care and Social Assistance,6213 Offices of Other Health Practitioners,4/9/20,353,WASHINGTON DISTRICT OFFICE,PPP,"CABARRUS EYE CENTER, PA",MD,NaN,Exemption 4,24,1041400.00,0.0,NaN,225134,Truist Bank d/b/a Branch Banking & Trust Co,MD-08,94.0,225134,Truist Bank d/b/a Branch Banking & Trust Co,CHARLOTTE,NC,Subchapter S Corporation,Existing or more than 2 years old,N,1052797.54,5/20/21,3%,31242.0000,Offices of Optometrists,"201 Le Phillip Ct NE, CHEVY CHASE, MD",41.603221,-73.087749,NaN
13968,720930,5288307405,IND62SS16LR4JR7BT01BA1PPP,Health Care and Social Assistance,6216 Home Health Care Services,5/12/20,353,WASHINGTON DISTRICT OFFICE,PPP,ABA,MD,10/20/21,Paid in Full,24,2329557.36,0.0,NaN,225134,Truist Bank d/b/a Branch Banking & Trust Co,MD-04,494.0,225134,Truist Bank d/b/a Branch Banking & Trust Co,CHARLOTTE,NC,Corporation,Existing or more than 2 years old,N,2360747.54,9/8/21,1%,23295.5736,Home Health Care Services,"821 kennedy st nw, washington, MD",38.956476,-77.025084,NaN
14719,760100,6862267700,IND62SS44LR1JR4BT03BA3PPP,Health Care and Social Assistance,6244 Child Day Care Services,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,LITTLE PEOPLES PLACE CHILD DEVELOPMENT CENTER ...,MD,3/13/21,Paid in Full,24,194000.00,0.0,NaN,44449,"PNC Bank, National Association",MD-01,33.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Subchapter S Corporation,Unanswered,N,195546.61,2/18/21,5%,9700.0000,Child Day Care Services,"2807 BEL CT, MANCHESTER, MD",41.603221,-73.087749,NaN
16593,857998,5293057200,IND72SS25LR1JR4BT01BA2PPP,Accommodation and Food Services,7225 Restaurants and Other Eating Places,4/27/20,353,WASHINGTON DISTRICT OFFICE,PPP,PIZZA ZONE OF CHEVY CHASE INC,MD,5/22/21,Paid in Full,24,186130.00,0.0,NaN,122873,EagleBank,MD-08,33.0,122873,EagleBank,BETHESDA,MD,Corporation,New Business or 2 years or less,N,184971.63,4/5/21,5%,9306.5000,Full-Service Restaurants,"19 WISCONSIN AVE, CHEVY CHASE, MD",38.959033,-77.084842,NaN

In [5]:
md_hpgf["CurrentApprovalAmount"].sum() # 10119537790.66
md_hpgf["LoanNumber"].count() #18979 #average 525,382

18979

In [6]:
md_hpgf = md_hpgf.loc[md_hpgf["FIPS_z"].notna()] #23255
md_hpgf

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,BorrowerState,LoanStatusDate,LoanStatus,Term,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,CD,JobsReported,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,BusinessType,BusinessAgeDescription,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,Lat,Long,FIPS_z
0,166,8441207705,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,GECON US INC.,MD,NaN,Exemption 4,24,212167.00,0.0,NaN,456756,Cross River Bank,MD-08,8.0,456756,Cross River Bank,TEANECK,NJ,Corporation,Existing or more than 2 years old,N,NaN,NaN,5%,10608.3500,NaN,"4833 Rugby Ave Suite 100, Bethesda, MD",38.991281,-77.098312,2.403170e+14
1,167,3725437703,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,"QUALITY PRODUCTION CONT., INC.",MD,9/23/21,Paid in Full,24,162500.00,0.0,NaN,223542,Celtic Bank Corporation,MD-06,6.0,223542,Celtic Bank Corporation,SALT LAKE CITY,UT,Corporation,Existing or more than 2 years old,N,164543.49,8/9/21,5%,8125.0000,NaN,"547 Prospect Hill Road, Knoxville, MD",39.331722,-77.693762,2.404301e+14
2,488,5111117706,IND00SS00LR1JR2BT04BA2PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,ASSOCIATION OF MILITARY SURGEONS OF THE,MD,5/19/21,Paid in Full,24,158247.00,0.0,NaN,9551,"Bank of America, National Association",MD-06,8.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Non-Profit Organization,New Business or 2 years or less,Y,139062.40,3/3/21,5%,7912.3500,NaN,"12154 DARNESTOWN RD # 506, GAITHERSBURG, MD",39.116648,-77.252234,2.403170e+14
3,507,7268117703,IND00SS00LR1JR2BT01BA3PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,AUTONOMOUS ID INC,MD,6/10/21,Paid in Full,24,284900.00,0.0,NaN,44449,"PNC Bank, National Association",MD-08,8.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Corporation,Unanswered,N,287891.45,5/21/21,5%,14245.0000,NaN,"909 BALTIMORE BLVD, WESTMINSTER, MD",39.557258,-76.964396,2.401351e+14
4,508,7338407703,IND00SS00LR1JR2BT01BA3PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,RALPH W NIEMANN DDS PA,MD,10/7/21,Paid in Full,24,152000.00,0.0,NaN,44449,"PNC Bank, National Association",MD-05,7.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Corporation,Unanswered,N,146363.49,8/16/21,5%,7600.0000,NaN,"272 MERRIMAC CT, PRINCE FREDERICK, MD",38.535721,-76.583826,2.400986e+14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,968361,5054127701,IND99SS00LR2JR6BT02BA2PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,WINDSOR RUN LLC,MD,9/24/21,Paid in Full,24,826692.00,0.0,NaN,9551,"Bank of America, National Association",MD-07,152.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Limited Liability Company(LLC),New Business or 2 years or less,N,NaN,NaN,3%,24800.7600,NaN,"701 MAIDEN CHOICE LN, BALTIMORE, MD",39.265897,-76.701047,2.400540e+14
18975,968377,7520607308,IND99SS00LR2JR6BT03BA3PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/30/20,353,WASHINGTON DISTRICT OFFICE,PPP,IN HIS GRIP JM LLC,MD,10/16/21,Paid in Full,24,544337.00,0.0,Jersey Mike's,456756,Cross River Bank,MD-08,152.0,456756,Cross River Bank,TEANECK,NJ,Subchapter S Corporation,Unanswered,N,551644.54,9/10/21,3%,16330.1100,NaN,"7501 Wisconsin Avenue, Bethesda, MD",38.985369,-77.093544,2.403170e+14
18976,968457,5450217009,IND99SS00LR3JR6BT01BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/5/20,373,BALTIMORE DISTRICT OFFICE,PPP,BOB DAVIDSON FORD INC,MD,2/19/21,Paid in Full,24,1412300.00,0.0,Ford Motor Company Dealer Sales and Service Ag...,30550,Farmers & Merchants Bank,MD-02,106.0,30550,Farmers & Merchants Bank,UPPERCO,MD,Corporation,Existing or more than 2 years old,N,1422592.38,1/7/21,3%,42369.0000,NaN,"1845 E Joppa Rd, PARKVILLE, MD",39.399521,-76.550910,2.400549e+14
18977,968487,1503037304,IND99SS00LR3JR6BT06BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/28/20,373,BALTIMORE DISTRICT OFFICE,PPP,"PARKVIEW OPERATING COMPANY, LP",MD,7/13/21,Paid in Full,24,1397766.07,0.0,NaN,121508,CFG Community Bank,MD-07,122.0,121508,CFG Community Bank,BALTIMORE,MD,Limited Liability Partnership,Existing or more than 2 years old,N,1413723.83,6/17/21,3%,41932.9821,NaN,"920 RIDGEBROOK RD, SPARKS GLENCOE, MD",39.525883,-76.655830,2.400541e+14
18978,968494,6850497702,IND99SS00LR3JR6BT01BA3PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,SHAMIT MANAGEMENT INC,MD,7/10/21,Paid in Full,24,1486600.00,0.0,NaN,44449,"PNC Bank, National Association",MD-07,212.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Corporation,Unanswered,N,1503159.07,6/11/21,3%,44598.0000,NaN,"4465 MONTGOMERY RD, ELLICOTT CITY, MD",39.248956,-76.809338,2.402760e+14

In [7]:
md_hpgf["FIPSstate"] = md_hpgf["FIPS_z"].astype(str).str[:2]
md_hpgf["FIPScounty"] = md_hpgf["FIPS_z"].astype(str).str[:5]
md_hpgf["FIPSplaces"] = md_hpgf["FIPS_z"].astype(str).str[:10]
md_hpgf["FIPStract"] = md_hpgf["FIPS_z"].astype(str).str[:11]
md_hpgf["FIPSblockgroup"] = md_hpgf["FIPS_z"].astype(str).str[:12]
md_hpgf["FIPSblock"] = md_hpgf["FIPS_z"].astype(str).str[:15]

In [8]:
md_hpgf.loc[md_hpgf["FIPScounty"] == "24498"]

Empty DataFrame
Columns: [Unnamed: 0, LoanNumber, HASHcodePM, Industry, IndustrySubsector, DateApproved, SBAOfficeCode, SBAOfficeLabel, ProcessingMethod, BorrowerName, BorrowerState, LoanStatusDate, LoanStatus, Term, CurrentApprovalAmount, UndisbursedAmount, FranchiseName, ServicingLenderLocationID, ServicingLenderName, CD, JobsReported, OriginatingLenderLocationID, OriginatingLender, OriginatingLenderCity, OriginatingLenderState, BusinessType, BusinessAgeDescription, NonProfit, ForgivenessAmount, ForgivenessDate, Estimated_LenderPercent, Estimated_LenderProfit, LongName, full_add, Lat, Long, FIPS_z, FIPSstate, FIPScounty, FIPSplaces, FIPStract, FIPSblockgroup, FIPSblock]
Index: []

<h4>Point Pairing

In [9]:
from geopandas import GeoDataFrame
from shapely.geometry import Point
geometry = [Point(xy) for xy in zip(md_hpgf.Long, md_hpgf.Lat)]
md_hpgf = md_hpgf.drop(['Long', 'Lat'], axis=1)
gdf = GeoDataFrame(md_hpgf, crs="EPSG:4326", geometry=geometry)
gdf

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,BorrowerState,LoanStatusDate,LoanStatus,Term,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,CD,JobsReported,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,BusinessType,BusinessAgeDescription,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,FIPS_z,FIPSstate,FIPScounty,FIPSplaces,FIPStract,FIPSblockgroup,FIPSblock,geometry
0,166,8441207705,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,GECON US INC.,MD,NaN,Exemption 4,24,212167.00,0.0,NaN,456756,Cross River Bank,MD-08,8.0,456756,Cross River Bank,TEANECK,NJ,Corporation,Existing or more than 2 years old,N,NaN,NaN,5%,10608.3500,NaN,"4833 Rugby Ave Suite 100, Bethesda, MD",2.403170e+14,24,24031,2403170480,24031704806,240317048062,240317048062000,POINT (-77.0983123 38.9912809)
1,167,3725437703,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,"QUALITY PRODUCTION CONT., INC.",MD,9/23/21,Paid in Full,24,162500.00,0.0,NaN,223542,Celtic Bank Corporation,MD-06,6.0,223542,Celtic Bank Corporation,SALT LAKE CITY,UT,Corporation,Existing or more than 2 years old,N,164543.49,8/9/21,5%,8125.0000,NaN,"547 Prospect Hill Road, Knoxville, MD",2.404301e+14,24,24043,2404301150,24043011502,240430115021,240430115021041,POINT (-77.69376190000001 39.3317217)
2,488,5111117706,IND00SS00LR1JR2BT04BA2PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,ASSOCIATION OF MILITARY SURGEONS OF THE,MD,5/19/21,Paid in Full,24,158247.00,0.0,NaN,9551,"Bank of America, National Association",MD-06,8.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Non-Profit Organization,New Business or 2 years or less,Y,139062.40,3/3/21,5%,7912.3500,NaN,"12154 DARNESTOWN RD # 506, GAITHERSBURG, MD",2.403170e+14,24,24031,2403170061,24031700616,240317006163,240317006163002,POINT (-77.252234 39.1166483)
3,507,7268117703,IND00SS00LR1JR2BT01BA3PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,AUTONOMOUS ID INC,MD,6/10/21,Paid in Full,24,284900.00,0.0,NaN,44449,"PNC Bank, National Association",MD-08,8.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Corporation,Unanswered,N,287891.45,5/21/21,5%,14245.0000,NaN,"909 BALTIMORE BLVD, WESTMINSTER, MD",2.401351e+14,24,24013,2401350760,24013507602,240135076022,240135076022042,POINT (-76.96439609999999 39.5572581)
4,508,7338407703,IND00SS00LR1JR2BT01BA3PPP,Not Available,Not Available,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,RALPH W NIEMANN DDS PA,MD,10/7/21,Paid in Full,24,152000.00,0.0,NaN,44449,"PNC Bank, National Association",MD-05,7.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Corporation,Unanswered,N,146363.49,8/16/21,5%,7600.0000,NaN,"272 MERRIMAC CT, PRINCE FREDERICK, MD",2.400986e+14,24,24009,2400986070,24009860702,240098607021,240098607021009,POINT (-76.58382569999998 38.5357211)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,968361,5054127701,IND99SS00LR2JR6BT02BA2PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,WINDSOR RUN LLC,MD,9/24/21,Paid in Full,24,826692.00,0.0,NaN,9551,"Bank of America, National Association",MD-07,152.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Limited Liability Company(LLC),New Business or 2 years or less,N,NaN,NaN,3%,24800.7600,NaN,"701 MAIDEN CHOICE LN, BALTIMORE, MD",2.400540e+14,24,24005,2400540010,24005400100,240054001003,240054001003003,POINT (-76.70104690000002 39.2658972)
18975,968377,7520607308,IND99SS00LR2JR6BT03BA3PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/30/20,353,WASHINGTON DISTRICT OFFICE,PPP,IN HIS GRIP JM LLC,MD,10/16/21,Paid in Full,24,544337.00,0.0,Jersey Mike's,456756,Cross River Bank,MD-08,152.0,456756,Cross River Bank,TEANECK,NJ,Subchapter S Corporation,Unanswered,N,551644.54,9/10/21,3%,16330.1100,NaN,"7501 Wisconsin Avenue, Bethesda, MD",2.403170e+14,24,24031,2403170480,24031704805,240317048051,240317048051005,POINT (-77.0935436 38.9853692)
18976,968457,5450217009,IND99SS00LR3JR6BT01BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/5/20,373,BALTIMORE DISTRICT OFFICE,PPP,BOB DAVIDSON FORD INC,MD,2/19/21,Paid in Full,24,1412300.00,0.0,Ford Motor Company Dealer Sales and Service Ag...,30550,Farmers & Merchants Bank,MD-02,106.0,30550,Farmers & Merchants Bank,UPPERCO,MD,Corporation,Existing or more than 2 years old,N,1422592.38,1/7/21,3%,42369.0000,NaN,"1845 E Joppa Rd, PARKVILLE, MD",2.400549e+14,24,24005,2400549190,24005491900,240054919002,240054919002005,POINT (-76.5509098 39.3995208)
18977,968487,1503037304,IND99SS00LR3JR6BT06BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/28/20,373,BALTIMORE DISTRICT OFFICE,PPP,"PARKVIEW OPERATING COMPANY, LP",MD,7/13/21,Paid in Full,24,1397766.07,0.0,NaN,121508,CFG Community Bank,MD-07,122.0,121508,CFG Community Bank,BALTIMORE,MD,Limited Liability Partnership,Existing or more than 2 years old,N,1413723.83,6/17/21,3%,41932.9821,NaN,"920 RIDGEBROOK RD, SPARKS GLENCOE, MD",2.400541e+14,24,24005,2400540810,24005408100,240054081003,240054081003006,POINT (-76.6558296 39.5258835)
18978,968494,6850497702,IND99SS00LR3JR6BT01BA3PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,373,BALTIMORE DISTRICT OFFICE,PPP,SHAMIT MANAGEMENT INC,MD,7/10/21,Paid in Full,24,1486600.00,0.0,NaN,44449,"PNC Bank, National Association",MD-07,212.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Corporation,Unanswered,N,1503159.07,6/11/21,3%,44598.0000,NaN,"4465 MONTGOMERY RD, ELLICOTT CITY, MD",2.402760e+14,24,24027,2402760280,24027602800,240276028003,240276028003010,POINT (-76.8093377 39.2489555)

In [10]:
listbusiness =gdf["BusinessType"].value_counts()
listbusiness

Corporation                            7683
Limited Liability Company(LLC)         5483
Subchapter S Corporation               3716
Non-Profit Organization                1253
Sole Proprietorship                     221
Partnership                             205
Limited Liability Partnership           145
Professional Association                142
Cooperative                              28
501(c)3 â€“ Non Profit                     27
Self-Employed Individuals                26
501(c)6 â€“ Non Profit Membership          13
Non-Profit Childcare Center               6
Trust                                     6
Employee Stock Ownership Plan(ESOP)       5
Single Member LLC                         3
Not Available                             2
Tenant in Common                          1
Housing Co-op                             1
Name: BusinessType, dtype: int64

<h4>Writing State Points File

In [11]:
with open('../data/state_data/geo/state_agg/MD_gpd/md_gdf_fips_point.json', 'w') as f:
    f.write(gdf.to_json())

In [12]:
md_hpgf.dtypes

Unnamed: 0                       int64
LoanNumber                       int64
HASHcodePM                      object
Industry                        object
IndustrySubsector               object
DateApproved                    object
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
LongName                        object
full_add                        object
FIPS_z                         float64
FIPSstate                       object
FIPScounty                      object
FIPSplaces                      object
FIPStract                       object
FIPSblockgroup                  object
FIPSblock                       object
geometry                        object
dtype: object

<b>State Aggregation

In [13]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [14]:
md_hpgf_state = md_hpgf.groupby(['FIPSstate'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum','ForgivenessAmount':'sum'})
#md_hpgf_state[['CurrentApprovalAmount','Estimated_LenderProfit']] = md_hpgf_state[['CurrentApprovalAmount','Estimated_LenderProfit']].applymap("{0:.2f}".format) #format
#md_hpgf_state[['CurrentApprovalAmount','Estimated_LenderProfit']] = md_hpgf[['CurrentApprovalAmount','Estimated_LenderProfit']].astype(float) # object > float
md_hpgf_state

,FIPSstate,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,24,18966,10112715913.07,947440.00,397,311191338.91,7948686490.13

<h4>County Aggregation

In [15]:
md_hpgf_cnty = md_hpgf.groupby(['FIPScounty'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
md_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = md_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].astype(float) # object > float
md_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = md_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2)) #format
md_hpgf_cnty.head()#132

,FIPScounty,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,24001,139,67403946.02,7360.00,21,2142741.42,61825158.37
1,24003,2120,1038713435.67,96164.00,141,33134924.50,818328276.89
2,24005,2830,1543553227.57,149247.00,147,46827497.21,1251991928.72
3,24009,184,79330423.70,8017.00,31,2796995.67,62142293.99
4,24011,63,43158167.61,3532.00,17,1139456.05,41116799.12

In [16]:
#NonProfit Reporting
pd.set_option('display.max_columns', None)
nonprofit = md_hpgf.loc[md_hpgf["NonProfit"] == "Y"]
nonprofit #1536

md_hpgf_cnty_nonprofit = nonprofit.groupby(['FIPScounty'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
md_hpgf_cnty_nonprofit["NonProfitLoans"] = md_hpgf_cnty_nonprofit.LoanNumber
md_hpgf_cnty_nonprofit["NonProfitApprovalAmount"] = md_hpgf_cnty_nonprofit.CurrentApprovalAmount
md_hpgf_cnty_nonprofit["NonProfitJobsReported"] = md_hpgf_cnty_nonprofit.JobsReported
md_hpgf_cnty_nonprofit["NonProfitLenderProfit"] = md_hpgf_cnty_nonprofit.Estimated_LenderProfit
cols = ['FIPScounty', 'NonProfitLoans', 'NonProfitApprovalAmount', 'NonProfitJobsReported', 'NonProfitLenderProfit']
md_hpgf_cnty_nonprofit = md_hpgf_cnty_nonprofit[cols]
md_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']] = md_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']].apply(lambda x: round(x, 2)) #format
#md_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']] = md_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']].astype(float) # object > float
md_hpgf_cnty_nonprofit

,FIPScounty,NonProfitLoans,NonProfitApprovalAmount,NonProfitJobsReported,NonProfitLenderProfit
0,24001,11,7061044.55,1264.00,227510.54
1,24003,105,72721139.53,7042.00,1948588.89
2,24005,163,131116872.17,15919.00,3185435.29
3,24009,7,5407871.50,625.00,118010.04
4,24011,2,5501600.00,619.00,75910.00
5,24013,17,7461218.50,1132.00,274252.08
6,24015,12,6035026.00,764.00,197180.86
7,24017,25,14336810.22,2063.00,414827.17
8,24019,5,7421544.43,797.00,147982.33
9,24021,31,26434322.02,3261.00,678274.70
10,24023,5,3522300.00,517.00,114555.00
11,24025,23,20224641.00,2073.00,431683.45
12,24027,53,40646057.47,4814.00,1082748.63
13,24029,5,1567860.00,165.00,69689.00
14,24031,337,237780188.01,22834.00,6262574.44
15,24033,156,104538485.81,10850.00,2895051.88
16,24035,9,3929877.00,432.00,143551.69
17,24037,15,16561988.91,1747.00,390373.74
18,24039,2,2533997.50,449.00,33677.93
19,24041,22,10769383.30,1649.00,376902.22
20,24043,25,22803501.92,2962.00,586478.48
21,24045,22,18458132.18,2702.00,473212.38
22,24047,5,3726717.00,533.00,115652.01
23,24510,242,189636470.81,18172.00,4795654.36

<h4>Block Group Aggregation

In [17]:
md_hpgf_blockgroup = md_hpgf.groupby(['FIPScounty','FIPSblockgroup'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
md_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = md_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].astype(float) # object > float
md_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = md_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2)) #format
md_hpgf_blockgroup.head() #3624- out of 5963 from shpfile

,FIPScounty,FIPSblockgroup,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,24001,240010002002,1,195800.00,33.00,1,9790.00,197039.17
1,24001,240010002003,4,946301.70,121.00,2,47315.08,706390.17
2,24001,240010005001,1,567100.00,30.00,1,17013.00,570534.11
3,24001,240010006001,3,795602.35,78.00,1,39780.12,800571.18
4,24001,240010006002,2,378000.00,96.00,1,18900.00,380446.96

In [18]:
#pd.set_option('display.max_rows', None)
#lmi_bg = md_hpgf.groupby(['FIPScounty','FIPSblockgroup','LMIIndicator']).agg({"LoanNumber" : "count"})
#lmi_bg.head()

<b>Block Aggregation

In [19]:
md_hpgf_block = md_hpgf.groupby(['FIPScounty','FIPSblockgroup', 'FIPSblock'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
md_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = md_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].astype(float) # object > float
md_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = md_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2)) #format
md_hpgf_block.head() #8578

,FIPScounty,FIPSblockgroup,FIPSblock,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,24001,240010002002,240010002002001,1,195800.00,33.00,1,9790.00,197039.17
1,24001,240010002003,240010002003015,2,471630.00,53.00,1,23581.50,228517.48
2,24001,240010002003,240010002003019,1,257892.00,22.00,1,12894.60,259912.74
3,24001,240010002003,240010002003023,1,216779.70,46.00,1,10838.98,217959.95
4,24001,240010005001,240010005001036,1,567100.00,30.00,1,17013.00,570534.11

idea:pairing points before aggregation <br>
idea:reduce file size

<b>State Point Pairing

In [20]:
import warnings
import geopandas as gpd
warnings.filterwarnings('ignore')
gpd_path_state = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_us_state/tl_2021_us_state.shp")
gpd_path_state = gpd_path_state.loc[gpd_path_state["STATEFP"]== "24"] #Maryland
gpd_path_state['FIPSstate'] = gpd_path_state.GEOID
gpd_path_state

,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,LSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPSstate
4,3,5,24,01714934,24,MD,Maryland,00,G4000,A,25151992308,6979074857,+38.9466584,-076.6744939,"POLYGON ((-74.986282 38.451632, -74.987945 38....",24

In [21]:
cols = ["FIPSstate", "NAME", "geometry"]
gpd_path_state_parsed = gpd_path_state[cols]
gpd_path_state_parsed

  FIPSstate      NAME                                           geometry
4        24  Maryland  POLYGON ((-74.986282 38.451632, -74.987945 38....

<b>State Choropleth

In [22]:
gpd_state_merge = md_hpgf_state.merge(gpd_path_state_parsed, on="FIPSstate", how="left")
gpd_state_merge

,FIPSstate,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME,geometry
0,24,18966,10112715913.07,947440.00,397,311191338.91,7948686490.13,Maryland,"POLYGON ((-74.986282 38.451632, -74.987945 38...."

<b>State GeoDataFrame JSON conversion

In [23]:
from geopandas import GeoDataFrame
gpd_state_merge = GeoDataFrame(gpd_state_merge)

with open('../data/state_data/geo/state_agg/MD_gpd/md_gpd_state_merge.json', 'w') as f:
    f.write(gpd_state_merge.to_json())

<h4>County Point Pairing

In [24]:
import warnings
import geopandas as gpd
warnings.filterwarnings('ignore')
gpd_path_county = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_us_county/tl_2021_us_county.shp")
gpd_path_county = gpd_path_county.loc[gpd_path_county["STATEFP"]== "24"] #Maryland
gpd_path_county['FIPScounty'] = gpd_path_county.GEOID
gpd_path_county.head() #133

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPScounty
130,24,047,01668802,24047,Worcester,Worcester County,06,H1,G4020,480,41540,None,A,1213156434,586531107,+38.2221332,-075.3099315,"POLYGON ((-75.624343 37.994208, -75.6211689999...",24047
169,24,001,01713506,24001,Allegany,Allegany County,06,H1,G4020,None,19060,None,A,1093489884,14710932,+39.6123134,-078.7031037,"POLYGON ((-79.067559 39.479443, -79.034319 39....",24001
183,24,510,01702381,24510,Baltimore,Baltimore city,25,C7,G4020,548,12580,None,F,209649327,28758743,+39.3000324,-076.6104761,"POLYGON ((-76.52948600000001 39.218408, -76.52...",24510
336,24,015,00596115,24015,Cecil,Cecil County,06,H1,G4020,428,37980,48864,A,896912533,185281256,+39.5623537,-075.9415852,"POLYGON ((-75.766594 39.377563, -75.772688 39....",24015
655,24,005,01695314,24005,Baltimore,Baltimore County,06,H1,G4020,548,12580,None,A,1549740652,215957832,+39.4431666,-076.6165693,"POLYGON ((-76.56944900000001 39.721178, -76.56...",24005

In [25]:
cols = ["FIPScounty", "NAME", "geometry"]
gpd_path_county_parsed = gpd_path_county[cols]
gpd_path_county_parsed

,FIPScounty,NAME,geometry
130,24047,Worcester,"POLYGON ((-75.624343 37.994208, -75.6211689999..."
169,24001,Allegany,"POLYGON ((-79.067559 39.479443, -79.034319 39...."
183,24510,Baltimore,"POLYGON ((-76.52948600000001 39.218408, -76.52..."
336,24015,Cecil,"POLYGON ((-75.766594 39.377563, -75.772688 39...."
655,24005,Baltimore,"POLYGON ((-76.56944900000001 39.721178, -76.56..."
816,24013,Carroll,"POLYGON ((-76.78709600000001 39.7208, -76.7899..."
874,24009,Calvert,"POLYGON ((-76.32190799999999 38.327284, -76.37..."
908,24019,Dorchester,"POLYGON ((-75.948454 38.21596, -75.97479199999..."
1025,24003,Anne Arundel,"POLYGON ((-76.52948600000001 39.218408, -76.51..."
1050,24021,Frederick,"POLYGON ((-77.458808 39.22027, -77.457886 39.2..."
1361,24033,Prince George's,"POLYGON ((-77.002436 38.965673, -76.997263 38...."
1392,24027,Howard,"POLYGON ((-76.697085 39.214092, -76.697564 39...."
1439,24023,Garrett,"POLYGON ((-79.27169499999999 39.327999, -79.27..."
1474,24031,Montgomery,"POLYGON ((-76.88850499999999 39.130967, -76.88..."
1480,24035,Queen Anne's,"POLYGON ((-75.756004 39.246066, -75.7511279999..."
1620,24041,Talbot,"POLYGON ((-75.94524800000001 38.674109, -75.94..."
1729,24045,Wicomico,"POLYGON ((-75.948454 38.21596, -75.939134 38.2..."
1963,24039,Somerset,"POLYGON ((-76.236458 37.886605, -76.236141 37...."
1985,24025,Harford,"POLYGON ((-76.287689 39.254104, -76.342279 39...."
2003,24037,St. Mary's,"POLYGON ((-76.204719 38.05841, -76.214782 38.0..."
2064,24029,Kent,"POLYGON ((-76.35173 39.056232, -76.354843 39.1..."
2488,24017,Charles,"POLYGON ((-76.868859 38.171372, -76.872716 38...."
2742,24043,Washington,"POLYGON ((-77.469145 39.720018, -77.469921 39...."
2852,24011,Caroline,"POLYGON ((-75.747761 39.143338, -75.744265 39...."

<h4>County Choropleth DataFrame

In [26]:
#for blockgroup pairing
cols = ["FIPScounty", "NAME"]
gpd_path_county_parsed_bg = gpd_path_county[cols]
gpd_path_county_parsed_bg.head()

    FIPScounty       NAME
130      24047  Worcester
169      24001   Allegany
183      24510  Baltimore
336      24015      Cecil
655      24005  Baltimore

In [27]:
gpd_county_merge = md_hpgf_cnty.merge(gpd_path_county_parsed, on="FIPScounty", how="left")
gpd_county_merge.head()

,FIPScounty,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME,geometry
0,24001,139,67403946.02,7360.00,21,2142741.42,61825158.37,Allegany,"POLYGON ((-79.067559 39.479443, -79.034319 39...."
1,24003,2120,1038713435.67,96164.00,141,33134924.50,818328276.89,Anne Arundel,"POLYGON ((-76.52948600000001 39.218408, -76.51..."
2,24005,2830,1543553227.57,149247.00,147,46827497.21,1251991928.72,Baltimore,"POLYGON ((-76.56944900000001 39.721178, -76.56..."
3,24009,184,79330423.70,8017.00,31,2796995.67,62142293.99,Calvert,"POLYGON ((-76.32190799999999 38.327284, -76.37..."
4,24011,63,43158167.61,3532.00,17,1139456.05,41116799.12,Caroline,"POLYGON ((-75.747761 39.143338, -75.744265 39...."

In [28]:
#County NonProfit merge 
gpd_county_merge = gpd_county_merge.merge(md_hpgf_cnty_nonprofit, on = "FIPScounty", how="left")
gpd_county_merge

,FIPScounty,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME,geometry,NonProfitLoans,NonProfitApprovalAmount,NonProfitJobsReported,NonProfitLenderProfit
0,24001,139,67403946.02,7360.00,21,2142741.42,61825158.37,Allegany,"POLYGON ((-79.067559 39.479443, -79.034319 39....",11,7061044.55,1264.00,227510.54
1,24003,2120,1038713435.67,96164.00,141,33134924.50,818328276.89,Anne Arundel,"POLYGON ((-76.52948600000001 39.218408, -76.51...",105,72721139.53,7042.00,1948588.89
2,24005,2830,1543553227.57,149247.00,147,46827497.21,1251991928.72,Baltimore,"POLYGON ((-76.56944900000001 39.721178, -76.56...",163,131116872.17,15919.00,3185435.29
3,24009,184,79330423.70,8017.00,31,2796995.67,62142293.99,Calvert,"POLYGON ((-76.32190799999999 38.327284, -76.37...",7,5407871.50,625.00,118010.04
4,24011,63,43158167.61,3532.00,17,1139456.05,41116799.12,Caroline,"POLYGON ((-75.747761 39.143338, -75.744265 39....",2,5501600.00,619.00,75910.00
5,24013,447,198010788.15,19750.00,58,6576726.00,172738925.89,Carroll,"POLYGON ((-76.78709600000001 39.7208, -76.7899...",17,7461218.50,1132.00,274252.08
6,24015,165,68946262.12,7321.00,33,2359246.42,57849070.90,Cecil,"POLYGON ((-75.766594 39.377563, -75.772688 39....",12,6035026.00,764.00,197180.86
7,24017,313,129011318.11,12432.00,38,4537685.20,103398294.60,Charles,"POLYGON ((-76.868859 38.171372, -76.872716 38....",25,14336810.22,2063.00,414827.17
8,24019,70,32201049.74,3374.00,18,1028288.37,24769618.34,Dorchester,"POLYGON ((-75.948454 38.21596, -75.97479199999...",5,7421544.43,797.00,147982.33
9,24021,869,416237852.00,40170.00,83,13795320.05,340895610.43,Frederick,"POLYGON ((-77.458808 39.22027, -77.457886 39.2...",31,26434322.02,3261.00,678274.70
10,24023,90,52310364.50,5516.00,18,1445700.56,49789054.26,Garrett,"POLYGON ((-79.27169499999999 39.327999, -79.27...",5,3522300.00,517.00,114555.00
11,24025,632,286341328.44,29670.00,63,9261470.45,227055353.34,Harford,"POLYGON ((-76.287689 39.254104, -76.342279 39....",23,20224641.00,2073.00,431683.45
12,24027,1593,978893710.93,83169.00,121,28136328.08,756699236.08,Howard,"POLYGON ((-76.697085 39.214092, -76.697564 39....",53,40646057.47,4814.00,1082748.63
13,24029,58,24984183.25,2504.00,15,838007.78,20807434.44,Kent,"POLYGON ((-76.35173 39.056232, -76.354843 39.1...",5,1567860.00,165.00,69689.00
14,24031,3913,2200202084.81,193542.00,209,66131253.74,1675760040.38,Montgomery,"POLYGON ((-76.88850499999999 39.130967, -76.88...",337,237780188.01,22834.00,6262574.44
15,24033,2185,1253189051.89,116132.00,142,37552764.19,945402662.74,Prince George's,"POLYGON ((-77.002436 38.965673, -76.997263 38....",156,104538485.81,10850.00,2895051.88
16,24035,154,65384148.40,6719.00,29,2241974.26,52985046.86,Queen Anne's,"POLYGON ((-75.756004 39.246066, -75.7511279999...",9,3929877.00,432.00,143551.69
17,24037,177,104746520.16,9951.00,22,2981359.60,63679206.87,St. Mary's,"POLYGON ((-76.204719 38.05841, -76.214782 38.0...",15,16561988.91,1747.00,390373.74
18,24039,18,7870770.50,1006.00,9,242216.34,6712931.46,Somerset,"POLYGON ((-76.236458 37.886605, -76.236141 37....",2,2533997.50,449.00,33677.93
19,24041,192,87568830.80,10061.00,27,2967884.91,63196316.12,Talbot,"POLYGON ((-75.94524800000001 38.674109, -75.94...",22,10769383.30,1649.00,376902.22
20,24043,363,190569692.25,20054.00,36,6006940.35,161851023.42,Washington,"POLYGON ((-77.469145 39.720018, -77.469921 39....",25,22803501.92,2962.00,586478.48
21,24045,306,154428708.43,17365.00,36,4916118.93,136131955.51,Wicomico,"POLYGON ((-75.948454 38.21596, -75.939134 38.2...",22,18458132.18,2702.00,473212.38
22,24047,325,121327467.23,17371.00,34,4607933.57,88116465.12,Worcester,"POLYGON ((-75.624343 37.994208, -75.6211689999...",5,3726717.00,533.00,115652.01
23,24510,1760,968332580.79,87013.00,109,29522505.26,765443786.28,Baltimore,"POLYGON ((-76.52948600000001 39.218408, -76.52...",242,189636470.81,18172.00,4795654.36

In [29]:
#gpd_county_merge["LoanAmountperJob"] = gpd_county_merge["CurrentApprovalAmount"]//gpd_county_merge["JobsReported"]
null_cnty = gpd_county_merge.loc[gpd_county_merge["NAME"].isnull()]
null_cnty["FIPScounty"].tolist() #to correct

[]

In [30]:
gpd_county_merge.to_csv('../data/state_data/geo/state_agg/MD_gpd/md_gpd_county_merge.csv')

<h4>County GeoDataFrame JSON conversion

In [31]:
from geopandas import GeoDataFrame
gpd_county_merge = GeoDataFrame(gpd_county_merge)

with open('../data/state_data/geo/state_agg/MD_gpd/md_gpd_county_merge.json', 'w') as f:
    f.write(gpd_county_merge.to_json()) #export used in untitled static data folder for county choro preview

<h4>Block Group Point Pairing

In [32]:
gpd_path_blockgroup = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_blockgroup/tl_2021_24_bg/tl_2021_24_bg.shp")
gpd_path_blockgroup['FIPSblockgroup'] = gpd_path_blockgroup.GEOID
gpd_path_blockgroup

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPSblockgroup
0,24,005,440500,2,240054405002,Block Group 2,G5030,S,401969,0,+39.3608027,-076.5176012,"POLYGON ((-76.518646 39.365461, -76.515637 39....",240054405002
1,24,031,701001,1,240317010011,Block Group 1,G5030,S,976447,7112,+39.0732930,-077.1458756,"POLYGON ((-77.151596 39.07793, -77.15001599999...",240317010011
2,24,037,876004,3,240378760043,Block Group 3,G5030,S,1574323,4382,+38.2844089,-076.4882946,"POLYGON ((-76.49436 38.284888, -76.49435099999...",240378760043
3,24,037,875803,2,240378758032,Block Group 2,G5030,S,4405384,2089315,+38.3035562,-076.4716939,"POLYGON ((-76.467872 38.318412, -76.465981 38....",240378758032
4,24,037,875502,2,240378755022,Block Group 2,G5030,S,18290438,53368,+38.3485070,-076.6967581,"POLYGON ((-76.696161 38.375058, -76.694203 38....",240378755022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,24,021,752303,2,240217523032,Block Group 2,G5030,S,20108702,15414,+39.3475109,-077.4820628,"POLYGON ((-77.50252999999999 39.366583, -77.49...",240217523032
4075,24,035,810901,2,240358109012,Block Group 2,G5030,S,3268973,1860817,+38.9676788,-076.3401101,"POLYGON ((-76.35912399999999 38.955815, -76.35...",240358109012
4076,24,005,492700,1,240054927001,Block Group 1,G5030,S,12380089,15014636,+39.2186680,-076.4814625,"POLYGON ((-76.52598500000001 39.214707, -76.51...",240054927001
4077,24,005,492700,3,240054927003,Block Group 3,G5030,S,1322833,4112108,+39.2251574,-076.5180454,"POLYGON ((-76.52957499999999 39.238311, -76.51...",240054927003
4078,24,005,492700,2,240054927002,Block Group 2,G5030,S,384663,91332,+39.2429007,-076.5038874,"POLYGON ((-76.51504799999999 39.245818, -76.50...",240054927002

In [33]:
cols = ["FIPSblockgroup", "NAMELSAD", "geometry"]
gpd_path_blockgroup_parsed = gpd_path_blockgroup[cols]
gpd_path_blockgroup_parsed.head() #5963

,FIPSblockgroup,NAMELSAD,geometry
0,240054405002,Block Group 2,"POLYGON ((-76.518646 39.365461, -76.515637 39...."
1,240317010011,Block Group 1,"POLYGON ((-77.151596 39.07793, -77.15001599999..."
2,240378760043,Block Group 3,"POLYGON ((-76.49436 38.284888, -76.49435099999..."
3,240378758032,Block Group 2,"POLYGON ((-76.467872 38.318412, -76.465981 38...."
4,240378755022,Block Group 2,"POLYGON ((-76.696161 38.375058, -76.694203 38...."

In [34]:
#parsed for block pairing
cols=["FIPSblockgroup", "NAMELSAD"]
gpd_path_blockgroup_parsed_bg = gpd_path_blockgroup_parsed[cols]
gpd_path_blockgroup_parsed_bg.head()

  FIPSblockgroup       NAMELSAD
0   240054405002  Block Group 2
1   240317010011  Block Group 1
2   240378760043  Block Group 3
3   240378758032  Block Group 2
4   240378755022  Block Group 2

<h4>Block Group Choropleth DataFrame

In [35]:
#merge Blockgroup information 
gpd_blockgroup_merge = md_hpgf_blockgroup.merge(gpd_path_blockgroup_parsed, on="FIPSblockgroup", how="left")

#merge County Information 
gpd_blockgroup_merge = gpd_blockgroup_merge.merge(gpd_path_county_parsed_bg, on="FIPScounty", how="left")

gpd_blockgroup_merge.head()

,FIPScounty,FIPSblockgroup,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAMELSAD,geometry,NAME
0,24001,240010002002,1,195800.00,33.00,1,9790.00,197039.17,Block Group 2,"POLYGON ((-78.70644900000001 39.722885, -78.69...",Allegany
1,24001,240010002003,4,946301.70,121.00,2,47315.08,706390.17,Block Group 3,"POLYGON ((-78.73998 39.623927, -78.739161 39.6...",Allegany
2,24001,240010005001,1,567100.00,30.00,1,17013.00,570534.11,Block Group 1,"POLYGON ((-78.75858700000001 39.652297, -78.75...",Allegany
3,24001,240010006001,3,795602.35,78.00,1,39780.12,800571.18,Block Group 1,"POLYGON ((-78.752813 39.644625, -78.7469459999...",Allegany
4,24001,240010006002,2,378000.00,96.00,1,18900.00,380446.96,Block Group 2,"POLYGON ((-78.76321900000001 39.642543, -78.76...",Allegany

In [36]:
gpd_blockgroup_merge.loc[gpd_blockgroup_merge["NAMELSAD"].isnull()]

Empty DataFrame
Columns: [FIPScounty, FIPSblockgroup, LoanNumber, CurrentApprovalAmount, JobsReported, ServicingLenderLocationID, Estimated_LenderProfit, ForgivenessAmount, NAMELSAD, geometry, NAME]
Index: []

In [37]:
gpd_blockgroup_merge.to_csv("../data/state_data/geo/state_agg/MD_gpd/md_gpd_blockgroup_merge.csv")

<h4>Block Group GeoDataFrame JSON Conversion

In [38]:
gpd_blockgroup_merge = GeoDataFrame(gpd_blockgroup_merge)

with open('../data/state_data/geo/state_agg/MD_gpd/md_gpd_blockgroup_merge.json', 'w') as f:
    f.write(gpd_blockgroup_merge.to_json()) #export used in untitled static data folder for county choro preview

<h4>Block Point Pairing

In [39]:
gpd_path_block = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_block/tl_2021_24_tabblock20/tl_2021_24_tabblock20.shp")
gpd_path_block['FIPSblock'] = gpd_path_block.GEOID20
gpd_path_block.head() #163491

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,geometry,FIPSblock
0,24,005,411102,2031,240054111022031,Block 2031,G5040,R,None,None,S,0,6954,+39.4090783,-076.3714964,"POLYGON ((-76.37156400000001 39.411106, -76.37...",240054111022031
1,24,019,970900,1068,240199709001068,Block 1068,G5040,R,None,None,S,42524992,4107424,+38.3907325,-075.9571191,"POLYGON ((-75.99652 38.382614, -75.99597900000...",240199709001068
2,24,029,950200,1024,240299502001024,Block 1024,G5040,R,None,None,S,1296824,5080,+39.3507121,-076.0420016,"POLYGON ((-76.054964 39.34948, -76.04874 39.34...",240299502001024
3,24,029,950200,2033,240299502002033,Block 2033,G5040,R,None,None,S,2297653,19839,+39.3275881,-076.0812681,"POLYGON ((-76.08707 39.34057, -76.08403 39.340...",240299502002033
4,24,029,950100,2033,240299501002033,Block 2033,G5040,R,None,None,S,72559,2509,+39.3328788,-075.7820324,"POLYGON ((-75.78539000000001 39.33138, -75.782...",240299501002033

In [40]:
cols = ["FIPSblock", "NAME20", "geometry"]
gpd_path_block_parsed = gpd_path_block[cols]
gpd_path_block_parsed.head() #83827

,FIPSblock,NAME20,geometry
0,240054111022031,Block 2031,"POLYGON ((-76.37156400000001 39.411106, -76.37..."
1,240199709001068,Block 1068,"POLYGON ((-75.99652 38.382614, -75.99597900000..."
2,240299502001024,Block 1024,"POLYGON ((-76.054964 39.34948, -76.04874 39.34..."
3,240299502002033,Block 2033,"POLYGON ((-76.08707 39.34057, -76.08403 39.340..."
4,240299501002033,Block 2033,"POLYGON ((-75.78539000000001 39.33138, -75.782..."

<h4>Block Choropleth DataFrame

In [42]:
#merge Block information 
gpd_block_merge = md_hpgf_block.merge(gpd_path_block_parsed, on="FIPSblock", how="left")

#merge BlockGroup Information [FIPScode, Name]
gpd_block_merge = gpd_block_merge.merge(gpd_path_blockgroup_parsed_bg, on="FIPSblockgroup", how="left")
#merge County Information [FIPScode, Name]
gpd_block_merge = gpd_block_merge.merge(gpd_path_county_parsed_bg, on="FIPScounty", how="left")

gpd_block_merge #6402

,FIPScounty,FIPSblockgroup,FIPSblock,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME20,geometry,NAMELSAD,NAME
0,24001,240010002002,240010002002001,1,195800.00,33.00,1,9790.00,197039.17,Block 2001,"POLYGON ((-78.71071000000001 39.695656, -78.70...",Block Group 2,Allegany
1,24001,240010002003,240010002003015,2,471630.00,53.00,1,23581.50,228517.48,Block 3015,"POLYGON ((-78.735073 39.607531, -78.7346150000...",Block Group 3,Allegany
2,24001,240010002003,240010002003019,1,257892.00,22.00,1,12894.60,259912.74,Block 3019,"POLYGON ((-78.756343 39.592895, -78.754062 39....",Block Group 3,Allegany
3,24001,240010002003,240010002003023,1,216779.70,46.00,1,10838.98,217959.95,Block 3023,"POLYGON ((-78.748172 39.599595, -78.746459 39....",Block Group 3,Allegany
4,24001,240010005001,240010005001036,1,567100.00,30.00,1,17013.00,570534.11,Block 1036,"POLYGON ((-78.75858700000001 39.652297, -78.75...",Block Group 1,Allegany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6397,24510,245102805002,245102805002018,1,210339.00,24.00,1,10516.95,0.00,Block 2018,"POLYGON ((-76.608007 39.293319, -76.607108 39....",Block Group 2,Baltimore
6398,24510,245102805002,245102805002019,1,286472.00,38.00,1,14323.60,289375.96,Block 2019,"POLYGON ((-76.607108 39.293985, -76.6063500000...",Block Group 2,Baltimore
6399,24510,245102805002,245102805002021,3,791612.00,34.00,3,39580.60,332707.74,Block 2021,"POLYGON ((-76.607041 39.292651, -76.606238 39....",Block Group 2,Baltimore
6400,24510,245102805003,245102805003001,1,663500.00,165.00,1,19905.00,0.00,Block 3001,"POLYGON ((-76.605086 39.296441, -76.604637 39....",Block Group 3,Baltimore
6401,24510,245102806001,245102806001019,1,1549200.00,134.00,1,46476.00,1561292.37,Block 1019,"POLYGON ((-76.632188 39.289396, -76.630568 39....",Block Group 1,Baltimore

In [43]:
gpd_block_merge.to_csv("../data/state_data/geo/state_agg/MD_gpd/md_gpd_block_merge.csv")

<h4>Block GeoDataFrame JSON Conversion

In [40]:
gpd_block_merge = GeoDataFrame(gpd_block_merge)

with open('../data/state_data/geo/state_agg/MD_gpd/md_gpd_block_merge.json', 'w') as f:
    f.write(gpd_block_merge.to_json()) #export used in untitled static data folder for county choro preview