In [1]:
import pandas as pd
import numpy as np

In [2]:
ppp_geo= pd.read_csv("../../data/state_data/geo/ppp_geo.csv")
ppp_geo.head()

,Unnamed: 0,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,NaN
1,1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,NaN
2,2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,NaN
3,3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,NaN
4,4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,NaN

<b>FIPS combine files

In [3]:
ppp_fips_ak = pd.read_csv("../../data/state_data/geo/geo_fips/AK_fips_scraped.csv")  
ppp_fips_al = pd.read_csv("../../data/state_data/geo/geo_fips/AL_fips_scraped.csv") 
ppp_fips_ar = pd.read_csv("../../data/state_data/geo/geo_fips/AR_fips_scraped.csv") 
ppp_fips_as = pd.read_csv("../../data/state_data/geo/geo_fips/AS_fips_scraped.csv") 
ppp_fips_az = pd.read_csv("../../data/state_data/geo/geo_fips/AZ_fips_scraped.csv") 

ppp_fips_ca = pd.read_csv("../../data/state_data/geo/geo_fips/CA_fips_scraped.csv") 
ppp_fips_co = pd.read_csv("../../data/state_data/geo/geo_fips/CO_fips_scraped.csv") 
ppp_fips_ct = pd.read_csv("../../data/state_data/geo/geo_fips/CT_fips_scraped.csv") 
ppp_fips_dc = pd.read_csv("../../data/state_data/geo/geo_fips/DC_fips_scraped.csv") 
ppp_fips_de = pd.read_csv("../../data/state_data/geo/geo_fips/DE_fips_scraped.csv") 

ppp_fips_fl = pd.read_csv("../../data/state_data/geo/geo_fips/FL_fips_scraped.csv") 
ppp_fips_ga = pd.read_csv("../../data/state_data/geo/geo_fips/GA_fips_scraped.csv") 
ppp_fips_gu = pd.read_csv("../../data/state_data/geo/geo_fips/GU_fips_scraped.csv") 
ppp_fips_hi = pd.read_csv("../../data/state_data/geo/geo_fips/HI_fips_scraped.csv") 
ppp_fips_ia = pd.read_csv("../../data/state_data/geo/geo_fips/IA_fips_scraped.csv") 

ppp_fips_id = pd.read_csv("../../data/state_data/geo/geo_fips/ID_fips_scraped.csv") 
ppp_fips_il = pd.read_csv("../../data/state_data/geo/geo_fips/IL_fips_scraped.csv") 
ppp_fips_in = pd.read_csv("../../data/state_data/geo/geo_fips/IN_fips_scraped.csv") 
ppp_fips_ks = pd.read_csv("../../data/state_data/geo/geo_fips/KS_fips_scraped.csv")
ppp_fips_ky = pd.read_csv("../../data/state_data/geo/geo_fips/KY_fips_scraped.csv") 

ppp_fips_la = pd.read_csv("../../data/state_data/geo/geo_fips/LA_fips_scraped.csv")
ppp_fips_ma = pd.read_csv("../../data/state_data/geo/geo_fips/MA_fips_scraped.csv") 
ppp_fips_md = pd.read_csv("../../data/state_data/geo/geo_fips/MD_fips_scraped.csv") 
ppp_fips_me = pd.read_csv("../../data/state_data/geo/geo_fips/ME_fips_scraped.csv") 
ppp_fips_mi = pd.read_csv("../../data/state_data/geo/geo_fips/MI_fips_scraped.csv")

ppp_fips_mn = pd.read_csv("../../data/state_data/geo/geo_fips/MN_fips_scraped.csv")
ppp_fips_mo = pd.read_csv("../../data/state_data/geo/geo_fips/MO_fips_scraped.csv")
ppp_fips_mp = pd.read_csv("../../data/state_data/geo/geo_fips/MP_fips_scraped.csv")
ppp_fips_ms = pd.read_csv("../../data/state_data/geo/geo_fips/MS_fips_scraped.csv")
ppp_fips_mt = pd.read_csv("../../data/state_data/geo/geo_fips/MT_fips_scraped.csv")

ppp_fips_nc = pd.read_csv("../../data/state_data/geo/geo_fips/NC_fips_scraped.csv") 
ppp_fips_nd = pd.read_csv("../../data/state_data/geo/geo_fips/ND_fips_scraped.csv")
ppp_fips_ne = pd.read_csv("../../data/state_data/geo/geo_fips/NE_fips_scraped.csv")
ppp_fips_nh = pd.read_csv("../../data/state_data/geo/geo_fips/NH_fips_scraped.csv") 
ppp_fips_nj = pd.read_csv("../../data/state_data/geo/geo_fips/NJ_fips_scraped.csv") 

ppp_fips_nm = pd.read_csv("../../data/state_data/geo/geo_fips/NM_fips_scraped.csv") 
ppp_fips_nv = pd.read_csv("../../data/state_data/geo/geo_fips/NV_fips_scraped.csv") 
ppp_fips_ny = pd.read_csv("../../data/state_data/geo/geo_fips/NY_fips_scraped.csv") 
ppp_fips_oh = pd.read_csv("../../data/state_data/geo/geo_fips/OH_fips_scraped.csv") 
ppp_fips_ok = pd.read_csv("../../data/state_data/geo/geo_fips/OK_fips_scraped.csv") 

ppp_fips_or = pd.read_csv("../../data/state_data/geo/geo_fips/OR_fips_scraped.csv") 
ppp_fips_pa = pd.read_csv("../../data/state_data/geo/geo_fips/PA_fips_scraped.csv") 
ppp_fips_pr = pd.read_csv("../../data/state_data/geo/geo_fips/PR_fips_scraped.csv") 
ppp_fips_ri = pd.read_csv("../../data/state_data/geo/geo_fips/RI_fips_scraped.csv") 
ppp_fips_sc = pd.read_csv("../../data/state_data/geo/geo_fips/SC_fips_scraped.csv") 

ppp_fips_sd = pd.read_csv("../../data/state_data/geo/geo_fips/SD_fips_scraped.csv") 
ppp_fips_tn = pd.read_csv("../../data/state_data/geo/geo_fips/TN_fips_scraped.csv")  
ppp_fips_tx = pd.read_csv("../../data/state_data/geo/geo_fips/TX_fips_scraped.csv")
ppp_fips_ut = pd.read_csv("../../data/state_data/geo/geo_fips/UT_fips_scraped.csv") 
ppp_fips_vi = pd.read_csv("../../data/state_data/geo/geo_fips/VI_fips_scraped.csv")
ppp_fips_va = pd.read_csv("../../data/state_data/geo/geo_fips/VA_fips_scraped.csv")

ppp_fips_vt = pd.read_csv("../../data/state_data/geo/geo_fips/VT_fips_scraped.csv")
ppp_fips_wa = pd.read_csv("../../data/state_data/geo/geo_fips/WA_fips_scraped.csv")
ppp_fips_wi = pd.read_csv("../../data/state_data/geo/geo_fips/WI_fips_scraped.csv")
ppp_fips_wv = pd.read_csv("../../data/state_data/geo/geo_fips/WV_fips_scraped.csv")
ppp_fips_wy = pd.read_csv("../../data/state_data/geo/geo_fips/WY_fips_scraped.csv")

In [4]:
#get FIPS, LoanNumber from each file
cols= ["LoanNumber", "BorrowerState", "full_add", "Lat", "Long", "FIPS_z"] # Drop from ppp_geo and combine final FIPS DataFrame straight to main_pipe
#cols= ["LoanNumber", "FIPS_z"]

ppp_fips_ak = ppp_fips_ak[cols]
ppp_fips_al = ppp_fips_al[cols]
ppp_fips_ar = ppp_fips_ar[cols]
ppp_fips_as = ppp_fips_as[cols]
ppp_fips_az = ppp_fips_az[cols]

ppp_fips_ca = ppp_fips_ca[cols]
ppp_fips_co = ppp_fips_co[cols]
ppp_fips_ct = ppp_fips_ct[cols]
ppp_fips_dc = ppp_fips_dc[cols]
ppp_fips_de = ppp_fips_de[cols]

ppp_fips_fl = ppp_fips_fl[cols]
ppp_fips_ga = ppp_fips_ga[cols]
ppp_fips_gu = ppp_fips_gu[cols]
ppp_fips_hi = ppp_fips_hi[cols]
ppp_fips_ia = ppp_fips_ia[cols]

ppp_fips_id = ppp_fips_id[cols]
ppp_fips_il = ppp_fips_il[cols]
ppp_fips_in = ppp_fips_in[cols]
ppp_fips_ks = ppp_fips_ks[cols]
ppp_fips_ky = ppp_fips_ky[cols]

ppp_fips_la = ppp_fips_la[cols]
ppp_fips_ma = ppp_fips_ma[cols]
ppp_fips_md = ppp_fips_md[cols]
ppp_fips_me = ppp_fips_me[cols]
ppp_fips_mi = ppp_fips_mi[cols]

ppp_fips_mn = ppp_fips_mn[cols]
ppp_fips_mo = ppp_fips_mo[cols]
ppp_fips_mp = ppp_fips_mp[cols]
ppp_fips_ms = ppp_fips_ms[cols]
ppp_fips_mt = ppp_fips_mt[cols]

ppp_fips_nc = ppp_fips_nc[cols]
ppp_fips_nd = ppp_fips_nd[cols]
ppp_fips_ne = ppp_fips_ne[cols]
ppp_fips_nh = ppp_fips_nh[cols]
ppp_fips_nj = ppp_fips_nj[cols]

ppp_fips_nm = ppp_fips_nm[cols]
ppp_fips_nv = ppp_fips_nv[cols]
ppp_fips_ny = ppp_fips_ny[cols]
ppp_fips_oh = ppp_fips_oh[cols]
ppp_fips_ok = ppp_fips_ok[cols]

ppp_fips_or = ppp_fips_or[cols]
ppp_fips_pa = ppp_fips_pa[cols]
ppp_fips_pr = ppp_fips_pr[cols]
ppp_fips_ri = ppp_fips_ri[cols]
ppp_fips_sc = ppp_fips_sc[cols]

ppp_fips_sd = ppp_fips_sd[cols]
ppp_fips_tn = ppp_fips_tn[cols]
ppp_fips_tx = ppp_fips_tx[cols]
ppp_fips_ut = ppp_fips_ut[cols]
ppp_fips_va = ppp_fips_va[cols] 

ppp_fips_vi = ppp_fips_vi[cols] 
ppp_fips_vt = ppp_fips_vt[cols]
ppp_fips_wa = ppp_fips_wa[cols]
ppp_fips_wi = ppp_fips_wi[cols]
ppp_fips_wv = ppp_fips_wv[cols]

ppp_fips_wy = ppp_fips_wy[cols]


frames = [ppp_fips_ak, ppp_fips_al, ppp_fips_ar, ppp_fips_as, ppp_fips_az, 
ppp_fips_ca, ppp_fips_co, ppp_fips_ct, ppp_fips_dc, ppp_fips_de, 
ppp_fips_fl, ppp_fips_ga, ppp_fips_gu, ppp_fips_hi, ppp_fips_ia, 
ppp_fips_id, ppp_fips_il, ppp_fips_in, ppp_fips_ks, ppp_fips_ky, 
ppp_fips_la, ppp_fips_ma, ppp_fips_md, ppp_fips_me, ppp_fips_mi, 
ppp_fips_mn, ppp_fips_mo, ppp_fips_mp, ppp_fips_ms, ppp_fips_mt, 
ppp_fips_nc, ppp_fips_nd, ppp_fips_ne, ppp_fips_nh, ppp_fips_nj, 
ppp_fips_nm, ppp_fips_nv, ppp_fips_ny, ppp_fips_oh, ppp_fips_ok, 
ppp_fips_or, ppp_fips_pa, ppp_fips_pr, ppp_fips_ri, ppp_fips_sc, 
ppp_fips_sd, ppp_fips_tn, ppp_fips_tx, ppp_fips_ut, ppp_fips_va, 
ppp_fips_vi, ppp_fips_vt, ppp_fips_wa, ppp_fips_wi, ppp_fips_wv, ppp_fips_wy]


result = pd.concat(frames,ignore_index=True)
result

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,2.020002e+13
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,2.185000e+13
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,2.020002e+13
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,2.020003e+13
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,2.122001e+13
...,...,...,...,...,...,...
968552,4395967002,WY,"102 N. Kenwood, CASPER, WY",42.850300,-106.304365,5.602500e+14
968553,6985647108,WY,"1715 HITCHING POST DR, GREEN RIVER, WY",41.499071,-109.464675,5.603797e+14
968554,7996438405,WY,"1105 Adon Rd, Rozet, WY",44.435381,-105.226008,5.600500e+14
968555,9054647103,WY,"30 N. Gould Street Suite 4000, SHERIDAN, WY",44.797763,-106.954952,5.603300e+14
968556,9184687004,WY,"7342 Granite Loop Rd, TETON VILLAGE, WY",43.587714,-110.822222,5.603997e+14

Check for Duplicates

In [5]:
dups =result["LoanNumber"]
result[dups.isin(dups[dups.duplicated()])].sort_values("LoanNumber")

Empty DataFrame
Columns: [LoanNumber, BorrowerState, full_add, Lat, Long, FIPS_z]
Index: []

Drop by index

In [6]:
#result = result.drop([907647])
result.loc[result["FIPS_z"].isnull()]

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
356,5048318601,AK,"1229 RICHARDSON HWY, DELTA JUNCTION, AK",NaN,NaN,NaN
392,2725348408,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
415,5085327008,AK,"1229 Richardson Hwy, DELTA JUNCTION, AK",NaN,NaN,NaN
1095,4188937110,AK,"525 SECOND STREET, SKAGWAY, AK",40.670782,-73.976908,NaN
1602,9864858410,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
...,...,...,...,...,...,...
967139,6427467010,WY,"3330 I-80 Rd, CHEYENNE, WY",40.822471,-97.167532,NaN
967796,5725807009,WY,"119 E BRIDGE ST, SARATOGA, WY",39.986975,-104.821733,NaN
967866,9082927003,WY,"4748 Highway 89 N, EVANSTON, WY",41.646038,-111.913004,NaN
968147,6664317004,WY,"401 Crescent Ave., MILLS, WY",39.225801,-84.465613,NaN
968323,5288408603,WY,"1401 E Hwy 14-16, Upton, WY",44.326301,-94.473850,NaN

<b>Check if FIPS_z = #15 digits

AK 02, AL 01, AR 05, AZ 04, CA 06, CO 08, CT 09

In [9]:
#result["FIPS_z"] = result["FIPS_z"].fillna('').astype('str')
result['FIPS_z'] = result['FIPS_z'].astype('string').str.split('.').str[0] #format 
result['FIPS_z'] = result['FIPS_z'].str.zfill(15) #fill
result

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,020200019003022
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,021850001001069
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,020200023011009
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,020200025012000
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,021220010002001
...,...,...,...,...,...,...
968552,4395967002,WY,"102 N. Kenwood, CASPER, WY",42.850300,-106.304365,560250003001012
968553,6985647108,WY,"1715 HITCHING POST DR, GREEN RIVER, WY",41.499071,-109.464675,560379707001020
968554,7996438405,WY,"1105 Adon Rd, Rozet, WY",44.435381,-105.226008,560050007023086
968555,9054647103,WY,"30 N. Gould Street Suite 4000, SHERIDAN, WY",44.797763,-106.954952,560330003001053
968556,9184687004,WY,"7342 Granite Loop Rd, TETON VILLAGE, WY",43.587714,-110.822222,560399676021007

In [10]:
result.loc[result["LoanNumber"]==5725807009]

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
967796,5725807009,WY,"119 E BRIDGE ST, SARATOGA, WY",39.986975,-104.821733,<NA>

In [12]:
result.loc[result["FIPS_z"].isnull()]

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
356,5048318601,AK,"1229 RICHARDSON HWY, DELTA JUNCTION, AK",NaN,NaN,<NA>
392,2725348408,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,<NA>
415,5085327008,AK,"1229 Richardson Hwy, DELTA JUNCTION, AK",NaN,NaN,<NA>
1095,4188937110,AK,"525 SECOND STREET, SKAGWAY, AK",40.670782,-73.976908,<NA>
1602,9864858410,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,<NA>
...,...,...,...,...,...,...
967139,6427467010,WY,"3330 I-80 Rd, CHEYENNE, WY",40.822471,-97.167532,<NA>
967796,5725807009,WY,"119 E BRIDGE ST, SARATOGA, WY",39.986975,-104.821733,<NA>
967866,9082927003,WY,"4748 Highway 89 N, EVANSTON, WY",41.646038,-111.913004,<NA>
968147,6664317004,WY,"401 Crescent Ave., MILLS, WY",39.225801,-84.465613,<NA>
968323,5288408603,WY,"1401 E Hwy 14-16, Upton, WY",44.326301,-94.473850,<NA>

In [14]:
print(result.shape[0])
result.dtypes

LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z            object
dtype: object

<b>combined GEO, FIPS file write

In [15]:
result.to_csv("../../data/state_data/geo/ppp_geo_fips.csv")

<b>Rewrite State FIPS files with column Reduction

In [2]:
geofips = pd.read_csv("../../data/state_data/geo/ppp_geo_fips.csv")
geofips = geofips.drop(["Unnamed: 0"], axis=1)
geofips

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,2.020002e+13
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,2.185000e+13
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,2.020002e+13
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,2.020003e+13
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,2.122001e+13
...,...,...,...,...,...,...
968552,4395967002,WY,"102 N. Kenwood, CASPER, WY",42.850300,-106.304365,5.602500e+14
968553,6985647108,WY,"1715 HITCHING POST DR, GREEN RIVER, WY",41.499071,-109.464675,5.603797e+14
968554,7996438405,WY,"1105 Adon Rd, Rozet, WY",44.435381,-105.226008,5.600500e+14
968555,9054647103,WY,"30 N. Gould Street Suite 4000, SHERIDAN, WY",44.797763,-106.954952,5.603300e+14
968556,9184687004,WY,"7342 Granite Loop Rd, TETON VILLAGE, WY",43.587714,-110.822222,5.603997e+14

Null Check

In [3]:
print(geofips.isnull().sum())

LoanNumber         0
BorrowerState      0
full_add           6
Lat              139
Long             139
FIPS_z           926
dtype: int64

<b>Null Review<br></b>
Create missing null files for full_add, Lat/Long, FIPS_z

In [5]:
null_addresses = geofips.loc[geofips["full_add"].isnull()] #6
null_addresses.to_csv("../../data/null/nulladdresses.csv")

In [6]:
mask = geofips['Lat'].isnull() | geofips['Long'].isnull() #139
mask_df = geofips[mask]
mask_df.to_csv("../../data/null/nullcoords.csv") #notfound.xlsx

In [7]:
null_fips = geofips.loc[geofips["full_add"].isnull()] #926
null_fips.to_csv("../../data/null/nullfips.csv")

#Lat='None'>NaN - used to correct DataFrame, where 'None'existed instead of NaN :<br><br>
ppp_geo_fips_check["Lat"].replace(r'None', np.nan, regex=True)

In [43]:
ak_df = geofips.loc[geofips["BorrowerState"] == "AK", :]
al_df = geofips.loc[geofips["BorrowerState"] == "AL", :]
ar_df = geofips.loc[geofips["BorrowerState"] == "AR", :]
as_df = geofips.loc[geofips["BorrowerState"] == "AS", :] #American Samoa
az_df = geofips.loc[geofips["BorrowerState"] == "AZ", :]

ca_df = geofips.loc[geofips["BorrowerState"] == "CA", :]
co_df = geofips.loc[geofips["BorrowerState"] == "CO", :]
ct_df = geofips.loc[geofips["BorrowerState"] == "CT", :]
dc_df = geofips.loc[geofips["BorrowerState"] == "DC", :] #D.C.
de_df = geofips.loc[geofips["BorrowerState"] == "DE", :]

fl_df = geofips.loc[geofips["BorrowerState"] == "FL", :]
ga_df = geofips.loc[geofips["BorrowerState"] == "GA", :]
gu_df = geofips.loc[geofips["BorrowerState"] == "GU", :] #Guam
hi_df = geofips.loc[geofips["BorrowerState"] == "HI", :]
ia_df = geofips.loc[geofips["BorrowerState"] == "IA", :]

id_df = geofips.loc[geofips["BorrowerState"] == "ID", :]
il_df = geofips.loc[geofips["BorrowerState"] == "IL", :]
in_df = geofips.loc[geofips["BorrowerState"] == "IN", :]
ks_df = geofips.loc[geofips["BorrowerState"] == "KS", :]
ky_df = geofips.loc[geofips["BorrowerState"] == "KY", :]

la_df = geofips.loc[geofips["BorrowerState"] == "LA", :]
ma_df = geofips.loc[geofips["BorrowerState"] == "MA", :]
md_df = geofips.loc[geofips["BorrowerState"] == "MD", :]
me_df = geofips.loc[geofips["BorrowerState"] == "ME", :]
mi_df = geofips.loc[geofips["BorrowerState"] == "MI", :]

mn_df = geofips.loc[geofips["BorrowerState"] == "MN", :]
mo_df = geofips.loc[geofips["BorrowerState"] == "MO", :]
mp_df = geofips.loc[geofips["BorrowerState"] == "MP", :] #Saipan Member of Parliament
ms_df = geofips.loc[geofips["BorrowerState"] == "MS", :]
mt_df = geofips.loc[geofips["BorrowerState"] == "MT", :]

nc_df = geofips.loc[geofips["BorrowerState"] == "NC", :]
nd_df = geofips.loc[geofips["BorrowerState"] == "ND", :]
ne_df = geofips.loc[geofips["BorrowerState"] == "NE", :]
nh_df = geofips.loc[geofips["BorrowerState"] == "NH", :]
nj_df = geofips.loc[geofips["BorrowerState"] == "NJ", :]

nm_df = geofips.loc[geofips["BorrowerState"] == "NM", :]
nv_df = geofips.loc[geofips["BorrowerState"] == "NV", :]
ny_df = geofips.loc[geofips["BorrowerState"] == "NY", :]
oh_df = geofips.loc[geofips["BorrowerState"] == "OH", :]
ok_df = geofips.loc[geofips["BorrowerState"] == "OK", :]

or_df = geofips.loc[geofips["BorrowerState"] == "OR", :]
pa_df = geofips.loc[geofips["BorrowerState"] == "PA", :]
pr_df = geofips.loc[geofips["BorrowerState"] == "PR", :] #Puerto Rico
ri_df = geofips.loc[geofips["BorrowerState"] == "RI", :]
sc_df = geofips.loc[geofips["BorrowerState"] == "SC", :]

sd_df = geofips.loc[geofips["BorrowerState"] == "SD", :]
tn_df = geofips.loc[geofips["BorrowerState"] == "TN", :]
tx_df = geofips.loc[geofips["BorrowerState"] == "TX", :]
ut_df = geofips.loc[geofips["BorrowerState"] == "UT", :]
va_df = geofips.loc[geofips["BorrowerState"] == "VA", :]

vi_df = geofips.loc[geofips["BorrowerState"] == "VI", :] #Virgin Islands
vt_df = geofips.loc[geofips["BorrowerState"] == "VT", :]
wa_df = geofips.loc[geofips["BorrowerState"] == "WA", :]
wi_df = geofips.loc[geofips["BorrowerState"] == "WI", :]
wv_df = geofips.loc[geofips["BorrowerState"] == "WV", :]

wy_df = geofips.loc[geofips["BorrowerState"] == "WY", :]

In [44]:
ak_df.to_csv("../../data/state_data/geo/geo_fips/AK_fips_scraped.csv")  
al_df.to_csv("../../data/state_data/geo/geo_fips/AL_fips_scraped.csv") 
ar_df.to_csv("../../data/state_data/geo/geo_fips/AR_fips_scraped.csv") 
as_df.to_csv("../../data/state_data/geo/geo_fips/AS_fips_scraped.csv") 
az_df.to_csv("../../data/state_data/geo/geo_fips/AZ_fips_scraped.csv") 

ca_df.to_csv("../../data/state_data/geo/geo_fips/CA_fips_scraped.csv") 
co_df.to_csv("../../data/state_data/geo/geo_fips/CO_fips_scraped.csv") 
ct_df.to_csv("../../data/state_data/geo/geo_fips/CT_fips_scraped.csv") 
dc_df.to_csv("../../data/state_data/geo/geo_fips/DC_fips_scraped.csv") 
de_df.to_csv("../../data/state_data/geo/geo_fips/DE_fips_scraped.csv") 

fl_df.to_csv("../../data/state_data/geo/geo_fips/FL_fips_scraped.csv") 
ga_df.to_csv("../../data/state_data/geo/geo_fips/GA_fips_scraped.csv") 
gu_df.to_csv("../../data/state_data/geo/geo_fips/GU_fips_scraped.csv") 
hi_df.to_csv("../../data/state_data/geo/geo_fips/HI_fips_scraped.csv") 
ia_df.to_csv("../../data/state_data/geo/geo_fips/IA_fips_scraped.csv") 

id_df.to_csv("../../data/state_data/geo/geo_fips/ID_fips_scraped.csv") 
il_df.to_csv("../../data/state_data/geo/geo_fips/IL_fips_scraped.csv") 
in_df.to_csv("../../data/state_data/geo/geo_fips/IN_fips_scraped.csv") 
ks_df.to_csv("../../data/state_data/geo/geo_fips/KS_fips_scraped.csv")
ky_df.to_csv("../../data/state_data/geo/geo_fips/KY_fips_scraped.csv") 

la_df.to_csv("../../data/state_data/geo/geo_fips/LA_fips_scraped.csv")
ma_df.to_csv("../../data/state_data/geo/geo_fips/MA_fips_scraped.csv") 
md_df.to_csv("../../data/state_data/geo/geo_fips/MD_fips_scraped.csv") 
me_df.to_csv("../../data/state_data/geo/geo_fips/ME_fips_scraped.csv") 
mi_df.to_csv("../../data/state_data/geo/geo_fips/MI_fips_scraped.csv")

mn_df.to_csv("../../data/state_data/geo/geo_fips/MN_fips_scraped.csv")
mo_df.to_csv("../../data/state_data/geo/geo_fips/MO_fips_scraped.csv")
mp_df.to_csv("../../data/state_data/geo/geo_fips/MP_fips_scraped.csv")
ms_df.to_csv("../../data/state_data/geo/geo_fips/MS_fips_scraped.csv")
mt_df.to_csv("../../data/state_data/geo/geo_fips/MT_fips_scraped.csv")

nc_df.to_csv("../../data/state_data/geo/geo_fips/NC_fips_scraped.csv") 
nd_df.to_csv("../../data/state_data/geo/geo_fips/ND_fips_scraped.csv")
ne_df.to_csv("../../data/state_data/geo/geo_fips/NE_fips_scraped.csv")
nh_df.to_csv("../../data/state_data/geo/geo_fips/NH_fips_scraped.csv") 
nj_df.to_csv("../../data/state_data/geo/geo_fips/NJ_fips_scraped.csv") 

nm_df.to_csv("../../data/state_data/geo/geo_fips/NM_fips_scraped.csv") 
nv_df.to_csv("../../data/state_data/geo/geo_fips/NV_fips_scraped.csv") 
ny_df.to_csv("../../data/state_data/geo/geo_fips/NY_fips_scraped.csv") 
oh_df.to_csv("../../data/state_data/geo/geo_fips/OH_fips_scraped.csv") 
ok_df.to_csv("../../data/state_data/geo/geo_fips/OK_fips_scraped.csv") 

or_df.to_csv("../../data/state_data/geo/geo_fips/OR_fips_scraped.csv") 
pa_df.to_csv("../../data/state_data/geo/geo_fips/PA_fips_scraped.csv") 
pr_df.to_csv("../../data/state_data/geo/geo_fips/PR_fips_scraped.csv") 
ri_df.to_csv("../../data/state_data/geo/geo_fips/RI_fips_scraped.csv") 
sc_df.to_csv("../../data/state_data/geo/geo_fips/SC_fips_scraped.csv") 

sd_df.to_csv("../../data/state_data/geo/geo_fips/SD_fips_scraped.csv") 
tn_df.to_csv("../../data/state_data/geo/geo_fips/TN_fips_scraped.csv")  
tx_df.to_csv("../../data/state_data/geo/geo_fips/TX_fips_scraped.csv")
ut_df.to_csv("../../data/state_data/geo/geo_fips/UT_fips_scraped.csv") 
vi_df.to_csv("../../data/state_data/geo/geo_fips/VI_fips_scraped.csv")

va_df.to_csv("../../data/state_data/geo/geo_fips/VA_fips_scraped.csv")
vt_df.to_csv("../../data/state_data/geo/geo_fips/VT_fips_scraped.csv")
wa_df.to_csv("../../data/state_data/geo/geo_fips/WA_fips_scraped.csv")
wi_df.to_csv("../../data/state_data/geo/geo_fips/WI_fips_scraped.csv")
wv_df.to_csv("../../data/state_data/geo/geo_fips/WV_fips_scraped.csv")

wy_df.to_csv("../../data/state_data/geo/geo_fips/WY_fips_scraped.csv")