In [1]:
import pandas as pd
import numpy as np

<b>FIPS combine files

In [2]:
ppp_fips_ak = pd.read_csv("../../data/state_data/geo/geo_fips/23/AK_fips_scraped.csv")  
ppp_fips_al = pd.read_csv("../../data/state_data/geo/geo_fips/23/AL_fips_scraped.csv") 
ppp_fips_ar = pd.read_csv("../../data/state_data/geo/geo_fips/23/AR_fips_scraped.csv") 
ppp_fips_as = pd.read_csv("../../data/state_data/geo/geo_fips/23/AS_fips_scraped.csv") 
ppp_fips_az = pd.read_csv("../../data/state_data/geo/geo_fips/23/AZ_fips_scraped.csv") 

ppp_fips_ca = pd.read_csv("../../data/state_data/geo/geo_fips/23/CA_fips_scraped.csv") 
ppp_fips_co = pd.read_csv("../../data/state_data/geo/geo_fips/23/CO_fips_scraped.csv") 
ppp_fips_ct = pd.read_csv("../../data/state_data/geo/geo_fips/23/CT_fips_scraped.csv") 
ppp_fips_dc = pd.read_csv("../../data/state_data/geo/geo_fips/23/DC_fips_scraped.csv") 
ppp_fips_de = pd.read_csv("../../data/state_data/geo/geo_fips/23/DE_fips_scraped.csv") 

ppp_fips_fl = pd.read_csv("../../data/state_data/geo/geo_fips/23/FL_fips_scraped.csv") 
ppp_fips_ga = pd.read_csv("../../data/state_data/geo/geo_fips/23/GA_fips_scraped.csv") 
ppp_fips_gu = pd.read_csv("../../data/state_data/geo/geo_fips/23/GU_fips_scraped.csv") 
ppp_fips_hi = pd.read_csv("../../data/state_data/geo/geo_fips/23/HI_fips_scraped.csv") 
ppp_fips_ia = pd.read_csv("../../data/state_data/geo/geo_fips/23/IA_fips_scraped.csv") 

ppp_fips_id = pd.read_csv("../../data/state_data/geo/geo_fips/23/ID_fips_scraped.csv") 
ppp_fips_il = pd.read_csv("../../data/state_data/geo/geo_fips/23/IL_fips_scraped.csv") 
ppp_fips_in = pd.read_csv("../../data/state_data/geo/geo_fips/23/IN_fips_scraped.csv") 
ppp_fips_ks = pd.read_csv("../../data/state_data/geo/geo_fips/23/KS_fips_scraped.csv")
ppp_fips_ky = pd.read_csv("../../data/state_data/geo/geo_fips/23/KY_fips_scraped.csv") 

ppp_fips_la = pd.read_csv("../../data/state_data/geo/geo_fips/23/LA_fips_scraped.csv")
ppp_fips_ma = pd.read_csv("../../data/state_data/geo/geo_fips/23/MA_fips_scraped.csv") 
ppp_fips_md = pd.read_csv("../../data/state_data/geo/geo_fips/23/MD_fips_scraped.csv") 
ppp_fips_me = pd.read_csv("../../data/state_data/geo/geo_fips/23/ME_fips_scraped.csv") 
ppp_fips_mi = pd.read_csv("../../data/state_data/geo/geo_fips/23/MI_fips_scraped.csv")

ppp_fips_mn = pd.read_csv("../../data/state_data/geo/geo_fips/23/MN_fips_scraped.csv")
ppp_fips_mo = pd.read_csv("../../data/state_data/geo/geo_fips/23/MO_fips_scraped.csv")
ppp_fips_mp = pd.read_csv("../../data/state_data/geo/geo_fips/23/MP_fips_scraped.csv")
ppp_fips_ms = pd.read_csv("../../data/state_data/geo/geo_fips/23/MS_fips_scraped.csv")
ppp_fips_mt = pd.read_csv("../../data/state_data/geo/geo_fips/23/MT_fips_scraped.csv")

ppp_fips_nc = pd.read_csv("../../data/state_data/geo/geo_fips/23/NC_fips_scraped.csv") 
ppp_fips_nd = pd.read_csv("../../data/state_data/geo/geo_fips/23/ND_fips_scraped.csv")
ppp_fips_ne = pd.read_csv("../../data/state_data/geo/geo_fips/23/NE_fips_scraped.csv")
ppp_fips_nh = pd.read_csv("../../data/state_data/geo/geo_fips/23/NH_fips_scraped.csv") 
ppp_fips_nj = pd.read_csv("../../data/state_data/geo/geo_fips/23/NJ_fips_scraped.csv") 

ppp_fips_nm = pd.read_csv("../../data/state_data/geo/geo_fips/23/NM_fips_scraped.csv") 
ppp_fips_nv = pd.read_csv("../../data/state_data/geo/geo_fips/23/NV_fips_scraped.csv") 
ppp_fips_ny = pd.read_csv("../../data/state_data/geo/geo_fips/23/NY_fips_scraped.csv") 
ppp_fips_oh = pd.read_csv("../../data/state_data/geo/geo_fips/23/OH_fips_scraped.csv") 
ppp_fips_ok = pd.read_csv("../../data/state_data/geo/geo_fips/23/OK_fips_scraped.csv") 

ppp_fips_or = pd.read_csv("../../data/state_data/geo/geo_fips/23/OR_fips_scraped.csv") 
ppp_fips_pa = pd.read_csv("../../data/state_data/geo/geo_fips/23/PA_fips_scraped.csv") 
ppp_fips_pr = pd.read_csv("../../data/state_data/geo/geo_fips/23/PR_fips_scraped.csv") 
ppp_fips_ri = pd.read_csv("../../data/state_data/geo/geo_fips/23/RI_fips_scraped.csv") 
ppp_fips_sc = pd.read_csv("../../data/state_data/geo/geo_fips/23/SC_fips_scraped.csv") 

ppp_fips_sd = pd.read_csv("../../data/state_data/geo/geo_fips/23/SD_fips_scraped.csv") 
ppp_fips_tn = pd.read_csv("../../data/state_data/geo/geo_fips/23/TN_fips_scraped.csv")  
ppp_fips_tx = pd.read_csv("../../data/state_data/geo/geo_fips/23/TX_fips_scraped.csv")
ppp_fips_ut = pd.read_csv("../../data/state_data/geo/geo_fips/23/UT_fips_scraped.csv") 
ppp_fips_va = pd.read_csv("../../data/state_data/geo/geo_fips/23/VA_fips_scraped.csv")

ppp_fips_vi = pd.read_csv("../../data/state_data/geo/geo_fips/23/VI_fips_scraped.csv")
ppp_fips_vt = pd.read_csv("../../data/state_data/geo/geo_fips/23/VT_fips_scraped.csv")
ppp_fips_wa = pd.read_csv("../../data/state_data/geo/geo_fips/23/WA_fips_scraped.csv")
ppp_fips_wi = pd.read_csv("../../data/state_data/geo/geo_fips/23/WI_fips_scraped.csv")
ppp_fips_wv = pd.read_csv("../../data/state_data/geo/geo_fips/23/WV_fips_scraped.csv")

ppp_fips_wy = pd.read_csv("../../data/state_data/geo/geo_fips/23/WY_fips_scraped.csv")

ppp_fips_na = pd.read_csv("../../data/state_data/geo/geo_fips/23/NA_fips_scraped.csv")

In [3]:
#get FIPS, LoanNumber from each file
cols= ["LoanNumber", "BorrowerState", "full_add", "Lat", "Long", "FIPS_z"] # Drop from ppp_geo and combine final FIPS DataFrame straight to main_pipe
#cols= ["LoanNumber", "FIPS_z"]

ppp_fips_ak = ppp_fips_ak[cols]
ppp_fips_al = ppp_fips_al[cols]
ppp_fips_ar = ppp_fips_ar[cols]
ppp_fips_as = ppp_fips_as[cols]
ppp_fips_az = ppp_fips_az[cols]

ppp_fips_ca = ppp_fips_ca[cols]
ppp_fips_co = ppp_fips_co[cols]
ppp_fips_ct = ppp_fips_ct[cols]
ppp_fips_dc = ppp_fips_dc[cols]
ppp_fips_de = ppp_fips_de[cols]

ppp_fips_fl = ppp_fips_fl[cols]
ppp_fips_ga = ppp_fips_ga[cols]
ppp_fips_gu = ppp_fips_gu[cols]
ppp_fips_hi = ppp_fips_hi[cols]
ppp_fips_ia = ppp_fips_ia[cols]

ppp_fips_id = ppp_fips_id[cols]
ppp_fips_il = ppp_fips_il[cols]
ppp_fips_in = ppp_fips_in[cols]
ppp_fips_ks = ppp_fips_ks[cols]
ppp_fips_ky = ppp_fips_ky[cols]

ppp_fips_la = ppp_fips_la[cols]
ppp_fips_ma = ppp_fips_ma[cols]
ppp_fips_md = ppp_fips_md[cols]
ppp_fips_me = ppp_fips_me[cols]
ppp_fips_mi = ppp_fips_mi[cols]

ppp_fips_mn = ppp_fips_mn[cols]
ppp_fips_mo = ppp_fips_mo[cols]
ppp_fips_mp = ppp_fips_mp[cols]
ppp_fips_ms = ppp_fips_ms[cols]
ppp_fips_mt = ppp_fips_mt[cols]

ppp_fips_nc = ppp_fips_nc[cols]
ppp_fips_nd = ppp_fips_nd[cols]
ppp_fips_ne = ppp_fips_ne[cols]
ppp_fips_nh = ppp_fips_nh[cols]
ppp_fips_nj = ppp_fips_nj[cols]

ppp_fips_nm = ppp_fips_nm[cols]
ppp_fips_nv = ppp_fips_nv[cols]
ppp_fips_ny = ppp_fips_ny[cols]
ppp_fips_oh = ppp_fips_oh[cols]
ppp_fips_ok = ppp_fips_ok[cols]

ppp_fips_or = ppp_fips_or[cols]
ppp_fips_pa = ppp_fips_pa[cols]
ppp_fips_pr = ppp_fips_pr[cols]
ppp_fips_ri = ppp_fips_ri[cols]
ppp_fips_sc = ppp_fips_sc[cols]

ppp_fips_sd = ppp_fips_sd[cols]
ppp_fips_tn = ppp_fips_tn[cols]
ppp_fips_tx = ppp_fips_tx[cols]
ppp_fips_ut = ppp_fips_ut[cols]
ppp_fips_va = ppp_fips_va[cols] 

ppp_fips_vi = ppp_fips_vi[cols] 
ppp_fips_vt = ppp_fips_vt[cols]
ppp_fips_wa = ppp_fips_wa[cols]
ppp_fips_wi = ppp_fips_wi[cols]
ppp_fips_wv = ppp_fips_wv[cols]

ppp_fips_wy = ppp_fips_wy[cols]

ppp_fips_na = ppp_fips_na[cols]


frames = [ppp_fips_ak, ppp_fips_al, ppp_fips_ar, ppp_fips_as, ppp_fips_az, 
ppp_fips_ca, ppp_fips_co, ppp_fips_ct, ppp_fips_dc, ppp_fips_de, 
ppp_fips_fl, ppp_fips_ga, ppp_fips_gu, ppp_fips_hi, ppp_fips_ia, 
ppp_fips_id, ppp_fips_il, ppp_fips_in, ppp_fips_ks, ppp_fips_ky, 
ppp_fips_la, ppp_fips_ma, ppp_fips_md, ppp_fips_me, ppp_fips_mi, 
ppp_fips_mn, ppp_fips_mo, ppp_fips_mp, ppp_fips_ms, ppp_fips_mt, 
ppp_fips_nc, ppp_fips_nd, ppp_fips_ne, ppp_fips_nh, ppp_fips_nj, 
ppp_fips_nm, ppp_fips_nv, ppp_fips_ny, ppp_fips_oh, ppp_fips_ok, 
ppp_fips_or, ppp_fips_pa, ppp_fips_pr, ppp_fips_ri, ppp_fips_sc, 
ppp_fips_sd, ppp_fips_tn, ppp_fips_tx, ppp_fips_ut, ppp_fips_va, 
ppp_fips_vi, ppp_fips_vt, ppp_fips_wa, ppp_fips_wi, ppp_fips_wv, ppp_fips_wy, ppp_fips_na]


result = pd.concat(frames,ignore_index=True)
result

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,2.020002e+13
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,2.185000e+13
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,2.020002e+13
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,2.020003e+13
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,2.122001e+13
...,...,...,...,...,...,...
965547,9725917702,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965548,9666867710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965549,9662697710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965550,9724667708,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965551,9672967701,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN

Check for Duplicates

In [4]:
dups =result["LoanNumber"]
result[dups.isin(dups[dups.duplicated()])].sort_values("LoanNumber")

Empty DataFrame
Columns: [LoanNumber, BorrowerState, full_add, Lat, Long, FIPS_z]
Index: []

In [5]:
#result = result.drop([907647])
result.loc[result["FIPS_z"].isnull()]

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
392,2725348408,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
1095,4188937110,AK,"525 SECOND STREET, SKAGWAY, AK",40.670782,-73.976908,NaN
1601,9864858410,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
2874,6205747005,AL,"1980 hwy 315, SAGINAW, AL",34.212860,-89.696248,NaN
3234,5260357102,AL,"5015 Business Park BLVD, NEW MARKET, AL",61.174949,-149.888309,NaN
...,...,...,...,...,...,...
965547,9725917702,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965548,9666867710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965549,9662697710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965550,9724667708,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965551,9672967701,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN

<b>Check if FIPS_z = #15 digits for States with leading zeros

AK 02, AL 01, AR 05, AZ 04, CA 06, CO 08, CT 09

In [6]:
lessthan=result.loc[result["FIPS_z"].astype(str).str.len() <= 15]
lessthan.loc[lessthan["FIPS_z"].notnull()]

Empty DataFrame
Columns: [LoanNumber, BorrowerState, full_add, Lat, Long, FIPS_z]
Index: []

In [33]:
result.loc[result["LoanNumber"]==3659718407, "FIPS_z"]= np.nan

In [40]:
result['FIPS_z'] = result['FIPS_z'].astype('string').str.split('.').str[0] #format 
result['FIPS_z'] = result['FIPS_z'].str.zfill(15) #fill
result

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,020200019003022
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,021850001001069
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,020200023011009
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,020200025012000
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,021220010002001
...,...,...,...,...,...,...
965547,9725917702,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965548,9666867710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965549,9662697710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965550,9724667708,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965551,9672967701,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN

Null Review

In [7]:
null_fips = result.loc[result["FIPS_z"].isnull()]
null_fips

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
392,2725348408,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
1095,4188937110,AK,"525 SECOND STREET, SKAGWAY, AK",40.670782,-73.976908,NaN
1601,9864858410,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
2874,6205747005,AL,"1980 hwy 315, SAGINAW, AL",34.212860,-89.696248,NaN
3234,5260357102,AL,"5015 Business Park BLVD, NEW MARKET, AL",61.174949,-149.888309,NaN
...,...,...,...,...,...,...
965547,9725917702,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965548,9666867710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965549,9662697710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965550,9724667708,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965551,9672967701,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN

In [8]:
null_fips.to_csv("../../data/null/nullfips23.csv")

<b>combined GEO, FIPS file write

In [9]:
result.to_csv("../../data/state_data/geo/ppp_geo_fips23.csv")